[2019-07-29 22:30] fsproru opened #1 "Next button doesn't work on onboarding"
Clicking on the tab moves it over and the next button doesn't work @bwship

[2019-07-29 22:31] fsproru opened #2 "Add Caching"
Cache the calls to AWS until the refresh button is hit.

[2019-08-12 17:56] #2 closed

[2019-08-12 17:56] #1 closed

[2019-08-12 17:59] bwship opened #4 "Profile Page keeps appearing"
if you go to your data file folder in application support and update the settings.json file to

hasSeenOnboarding: true

Fix will be going out in the next release this week.

[2019-08-29 20:49] #4 closed

[2019-09-11 21:49] olafura opened #6 "Empty files"
Are a lot of the files supposed to be empty?

https://github.com/commandeer/open/blob/development/templates/commandeer/cli/serviceCodeGenerator.ts
https://github.com/commandeer/open/blob/development/templates/commandeer/tank-service/main.ts
https://github.com/commandeer/open/blob/development/templates/commandeer/tank-service/package.json

etc...

[2019-09-19 18:43] paladan-fractal opened #7 "Localstack SQS Network Failure"
Hi there!

I just downloaded Commandeer and love it so far. Managing all of our AWS services with the AWS GUI has been a huge pain - I'm loving the transparency that Commandeer provides around which services we are using and how.

Our project is currently using localstack inside of a docker container to manage our local S3 and SQS dependencies. Commandeer was able to detect and provide visibility

[2019-09-19 20:02] fsproru commented on #7
Hi @paladan-fractal,

Thanks for the feedback. I just stood up a fresh install of LocalStack in a Docker container with `localstack start` and the SQS shows as connected. Would you mind sharing some of your logs (feel free to obfuscate any sensitive info)?

The logs are located at the following paths:

on Linux: ~/.config/Commandeer/log.log.
on macOS: ~/Library/Logs/Commandeer/log.log.
on Windows:

[2019-09-19 20:06] fsproru commented on #6
Hi @olafura, once the package is submitted, we'll take it further by integrating it into Commandeer. That's where we'll fill out the blanks.

* I would keep `serviceCodeGenerator.ts` empty for now.
* You can add any of your setup code to `main.ts` if you have any, not all services have some extra setup code since the setup is driven from the UI.
* `package.json` will need to filled out with any de

[2019-09-19 21:12] paladan-fractal commented on #7
Thanks for the quick response! Unfortunately the logs don't yield much information:

[code]

An additional detail about our setup is that we are using docker-compose in order to spin up the localstack container from Docker Hub, so we don't actually call the localstack start command ourselves. I've included our obfuscated docker-compose.yml below.

[code]

[2019-09-19 22:43] fsproru commented on #7
Hey @paladan-fractal, just stood it up with the following `docker-compose.yml`.

[code]

It shows SQS as running in Commandeer when I go to LocalStack and hit the Scan button. The only modification I made to `docker-compose.yml` is removing the two volumes records at the bottom:

[code]

Some thoughts:

* Wondering if there is something going on in the `createBucket.sh` and `createQueues.sh`?
* Ar

[2019-09-24 22:23] paladan-fractal commented on #7
Hey again! Sorry for the delay.

We were also able to successfully avoid the Network Failure error when we removed those scripts from the docker-compose. We think the scripts are working because we are able to stand up our application that connects to our queues.

createBucket.sh - This one appears to work. We see the localstack S3 bucket created in this script appear in Commandeer.
[code]

create

[2019-09-25 03:07] fsproru commented on #7
Hi @paladan-fractal, thanks for your feedback too. We'll keep an eye on this issue. If you see anything else, don't hesitate to reach out.

[2019-09-25 19:42] fsproru commented on #6
Closing it, @olafura let us know if you have any questions.

[2019-09-25 19:42] #6 closed

[2019-09-30 22:46] bwship commented on #6
@olafura - you can now run yarn serve form the tank-service folder to get this running.  You can check out the pr here.  Let us know if you have any issues.  Tank battles coming soon! https://github.com/commandeer/open/pull/10

[2019-10-10 10:56] GimignanoF opened #12 "S3: Delete button clunky or not working"
As the tile says, when i press the Delete button to delete a bucket or a file from a bucket in a local S3 server it doesn't work or you have to press it multiple times before the file is actually deleted (i tried with the bucket but after pressing the delete button like 50 times the bucket was still there) :/

Steps to reproduce:

* Run localstack on your machine
* Open Commandeer and go to the S3

[2019-10-10 17:22] fsproru commented on #12
Hi @GimignanoF, thanks for reporting it, we'll take care of it in one of our next releases.

[2019-10-19 22:13] jbentus commented on #7
hello @fsproru. I am having the same issue as well.

After I create an SQS queue, I start getting a **Network Failure** error and I can't see my queue in the SQS tab, however the localstack dashboard works fine.

[2019-10-19 22:19] jbentus opened #18 "Localstack with SSL on doesn't seem to be compatible with Commandeer"
Hello,

I have a localstack instance running in a docker container with USE_SSL=false and Commandeer seems to detect my S3 and SQS successfully.

However, when I start localstack with USE_SSL=true Commandeer shows **Network Failure** on all the services mentioned before.

Kind regards,
Jose

[2019-10-20 00:28] fsproru commented on #12
Hey @GimignanoF, we just released Commandeer 0.3.0 which has a non-empty folder deletion feature implemented. You can delete a non-empty bucket now too.

Here are the release notes: https://getcommandeer.com/docs/releases/version-0_3_0

Let us know if you see any more issues.

[2019-10-20 00:28] #12 closed

[2019-10-20 00:33] fsproru commented on #18
Hi @jbentus, thanks for reporting it. Supporting LocalStack over SSL should be pretty straightforward to implement. Just so we can help you better, would you mind answering a couple of questions:

1. Do you run LocalStack only on your computer locally and over SSL?
2. Do you run LocalStack on some remote host over SSL which you would like to connect from Commandeer?
3. Which use-cases are you deve

[2019-10-21 08:35] jbentus commented on #18
Hi @fsproru.

1. Yes.
2. No.
3. I am using Localstack mainly to debug/test my AWS apps which they run in production with SSL on. It would be good for us to keep/replicate an infrastructure as close as possible to how these apps will run in production. The .NET AWS SDK has SSL turned on by default and that also played a role on the current setup.

[2019-10-27 13:08] nakedcity opened #22 "Not able to edit localstack services ports"
I have not been abled to set different ports to the defaults when using localstack infrastructure. Is there any way to do it?

[2019-11-02 06:26] fsproru commented on #22
Hi @nakedcity, good question. You should be able to specify a different port for LocalStack according to the configuration page here: https://github.com/localstack/localstack#configurations

Commandeer supports the default ports out of the box. The support for editing the ports will come in one of the future releases which you can see here: https://getcommandeer.com/docs/releases

[2019-11-02 18:28] fsproru opened #24 "Mobile site search bot issues"
Google discovered a couple of issues on mobile:

* Clickable elements too close together
* Content wider than screen

cc: @bwship

[2019-11-15 02:24] mikestaub opened #26 "can't upload files to s3 bucket"
It throws an error. v0.3.4

[2019-11-15 20:54] fsproru commented on #26
Hi @mikestaub could you send us the logs? You can access it from the debug menu.

[2019-12-04 08:13] matthewalr opened #27 "Commandeer 0.3.5 not detecting Docker on macOS Catalina 10.15.1"
Setup a new MacBook Pro running 10.15.1. Downloaded Docker Desktop, ran a few test containers. Installed Commandeer 0.3.5. Commandeer can't detect Docker to setup LocalStack.

<img width="1165" alt="Screen Shot 2019-12-04 at 12 11 40 AM" src="https://user-images.githubusercontent.com/4644552/70124969-bc313380-162a-11ea-8add-ce161c6f9fed.png">

[2019-12-04 16:39] rv-amadden commented on #27
Same thing on Mojave 10.14.6.

[2019-12-06 18:05] fsproru commented on #27
@matthewalr @rv-amadden would you mind sending the output of `whcih docker` ?

[2019-12-06 19:26] rv-amadden commented on #27
[code]

[2019-12-06 19:51] fsproru commented on #27
Thanks @rv-amadden, @matthewalr we'll use `docker--version` in the next version, this way we can also display which version is installed on the UI.

Still weird that the which command doesn't produce the desired result. That being said, running `docker --version` is a better solution anyway since it doesn't involve calling a different command, i.e. `which`.

[2019-12-09 08:41] staleks opened #28 "Add Account doesn't work for MacOS"
Hi,

I've just downloded version for MacOs (ver 0.3.5) added Profile info (Firstname, Lastname and email) but when I try to "+ Add Account" nothing pops-up.

I've tried from several places, top bar, dashboard, from "window top bar" Cmd + A, nothing.

Do you know maybe what I'm doing wrong?

By the way, my MacOS is Catalina 10.15.1.

[2019-12-09 16:54] bwship commented on #28
Are you on version 0.3.5?  Have you been using Commandeer prior to version 0.3?  We did have a tweak in the account management, but I haven't seen this issue before.  If you navigate to ~/Library/Application Support/Commandeer/data you should see an accounts folder.  If you only have the local in there, you should see a json file.  One hacky way to fix it, is to copy that file, and save it with a

[2019-12-09 17:03] bwship commented on #26
@mikestaub - this could be an issue with your permissions with your access keys.  I have been uploading files successfully over the past few weeks.

[2019-12-09 17:53] staleks commented on #28
Hi Bob,

no, this is my first use of Comandeer. To be honest I was looking at MadeWithVueJS page and saw your product there. I'm actively using AWS so I find that it might be helpful to me.

I'll update you here with findings in my local file system.

[2019-12-09 18:52] staleks commented on #28
This screenshot from logs can maybe help?

<img width="1193" alt="Screenshot 2019-12-09 at 19 51 06" src="https://user-images.githubusercontent.com/1543466/70463575-6abaf580-1abd-11ea-874e-b8cb115bb17d.png">

[2019-12-09 18:55] bwship commented on #28
Ok, create that accounts folder and it should start working.  We will get a
hotfix out for this very soon.  Thank you so much for reporting it.

On Mon, Dec 9, 2019 at 10:52 AM Aleksandar <notifications@github.com> wrote:

[2019-12-09 18:58] staleks commented on #28
Yes ... this helped.
<img width="1201" alt="Screenshot 2019-12-09 at 19 57 24" src="https://user-images.githubusercontent.com/1543466/70463960-35fb6e00-1abe-11ea-80e7-39702fcbb40d.png">

[2019-12-10 22:16] mwgamble opened #29 "Blog posts aren't dated"
I don't think this is the right place to mention this, but I wasn't sure where else to do so. None of the blog posts on the Commandeer website have dates on them, making it difficult to determine if the information is potentially out of date (amongst other things).

[2019-12-10 23:22] staleks commented on #28
Hopefully, the next release will have everything working "out of the box".

For me, this workaround did a job. Closing the ticket.

[2019-12-10 23:22] #28 closed

[2019-12-10 23:26] bwship commented on #28
Yes sir.  This was a bug introduced in that last version just for new users.  Current users were not affected.  We got the fix out last night.  Sorry about that.

[2019-12-10 23:28] bwship commented on #29
Hi, we actually have a slight bug on the getcommandeer.com/blog section of the site that it isn't rendering correctly.  They all do have dates on them. I am guessing you might be referring to our docs section at getcommandeer.com/docs  which do not have dates.  All of those should be up to date, except for the getting started section.  We are working on a better onboarding experience, and will upd

[2019-12-10 23:29] bwship commented on #26
Closing for now, as we haven't been able to reproduce on our end.  Let us know if this is still an issue for you though.

[2019-12-10 23:29] #26 closed

[2019-12-10 23:30] bwship commented on #27
Going to close this, as the change will be coming out in our next release.

[2019-12-10 23:30] #27 closed

[2019-12-11 00:17] mwgamble commented on #29
This blog post doesn't have a date on it:

https://getcommandeer.com/blog/install-localstack

[2019-12-11 00:32] bwship commented on #29
Yea, we will add a date to that one. Thanks for the heads up.  It should be current in terms of how to install localstack.  If you do have any issues with getting it setup, you can head over to localstack.cloud as they have great setup instructions on their github repo as well.

[2019-12-11 00:32] #29 closed

[2019-12-13 09:45] animeshrisal commented on #18
Is it possible to connect to a localstack that is in a remote server ? There doesn't seem to be any option to change the ip address.

[2019-12-13 16:23] fsproru commented on #18
@animeshrisal, we only support LocalStack running on localhost for now, that being said, running agains a remote host is a great feature to add.

[2019-12-24 05:19] bwship opened #36 "Serverless not deploying"
getting this error /bin/sh: sls: command not found

[2020-01-02 14:14] bwship opened #37 "Blog not lining out"
The blog has formatting issues.

![Schermafbeelding 2020-01-02 om 11 16 15](https://user-images.githubusercontent.com/1326114/71671162-19ea9580-2d27-11ea-9dff-8dd92da53321.png)

[2020-01-02 14:15] bwship opened #38 "Can't scroll menu on ios"
Can't scroll the menu on iOS.

![A3604C77-055D-4828-B8B2-6C80A821D9AB](https://user-images.githubusercontent.com/1326114/71671213-46061680-2d27-11ea-9285-0e690a7cb2ca.png)

[2020-01-10 14:41] mircea-pop commented on #22
Is there a current way to edit the localstack ports for commandeer? maybe some config file?

[2020-01-10 15:11] rv-amadden opened #39 "Sqs Message Body Serialization"
Messages added to queues are serialized twice.

| input  | expected  | actual |
|:-:|---|---|
|  { "hello": "world" } | "{ \"hello\": \"world\" }"  | "\"{ \\\"hello\\\": \\\"world\\\" }\""  |

A nice to have would be the ability to select a message body type,`text` ,`json` , etc because I find myself sending both stringified and raw payloads.

[2020-01-10 16:20] myscorecard commented on #38
this has been resolved

[2020-01-10 16:29] bwship commented on #38
this has been resolved

[2020-01-10 16:29] #38 closed

[2020-01-10 16:29] bwship commented on #37
this has been resolved

[2020-01-10 16:29] #37 closed

[2020-01-10 16:30] bwship commented on #39
@rv-amadden - thanks for raising the issue.  We will look into it.  I like the idea of selecting the body type.

[2020-02-07 20:34] c1moore opened #43 "Feature Request: Ability to Assume Role"
It would be great to be able to assume roles within Commandeer when connecting to AWS accounts.

[2020-02-08 15:46] fsproru commented on #43
Thanks @c1moore, that’s a great feature which is on our roadmap 👍

[2020-02-08 16:04] c1moore commented on #43
Awesome. Do you have an ETR for this feature?

[2020-02-09 15:32] fsproru commented on #43
We don’t have the exact ETA unfortunately. That being said it’s definitely
on our radar, so as the SSO. Let’s keep this issue open and we’ll post here
once assume role is supported.

On Sat, Feb 8, 2020 at 8:04 AM Calvin Moore <notifications@github.com>
wrote:

[2020-02-13 13:44] david-dacostad commented on #7
Like @jbentus ... i am also getting this issue... i am creating the localstack assets using terraform...
i am able to see the sqs queues via the localstack dashboard

[2020-02-16 00:43] jbentus commented on #7
@fsproru I think this issue should be reopened. The trigger to replicate is to create an sqs queue (e.g. terraform) and that will make Commandeer throwing **Network Failure** error in the SQS tab

[2020-02-16 04:47] fsproru commented on #7
@david-dacostad @jbentus, will be happy to look into it. Would you mind sharing a terraform template you're running to create the SQS queue causing the Network Failure in Commandeer?

[2020-02-22 13:49] jbentus commented on #7
Hi @fsproru.

It's easier to reproduce this if you use the following AWS CLI command:
`aws --endpoint-url=http://localhost:4576 sqs create-queue --queue-name test_sqs_queue`

I've upgraded to the latest version of Commandeer and tried provision the SQS queue via terraform and aws cli and either approach Commandeer does not detect any SQS queue, even though I can see them on localstack's dashboard.

[2020-02-23 04:41] fsproru commented on #36
Deploying in the latest version of Commandeer

[2020-02-23 04:41] #36 closed

[2020-02-23 04:57] fsproru commented on #7
Hey @jbentus, thanks for providing the details. Just tried creating a queue with the SQS command you provided. Here is the exact command I used:

[code]

The topics show up in Commandeer on the SQS tab with the account switched to local. Here is a screenshot.

The issue may be in your local setup. Could you navigate to the help menu in the top right corner, click on data path and send me your `acc

[2020-03-04 13:52] simenko commented on #7
I have got the same bug. I run localstack container with the following docker-compose config:
[code]
I create one test topic and one test queue as follows:
[code]
Both topic and queue are successfully created:
[code]

I can access SQS via browser at http://localhost:4576/queue/test:
[code]

I can see SNS test topic in Commandeer, but there is now SQS queues and scan fails with Network Error for ea

[2020-03-05 16:35] OskergMonReap opened #45 "Localstack Cloudformation Data Missing"
**Commandeer version**: 0.6.0
Installed across multiple Linux Distro's via **AppImage**
**Localstack version**: 0.10.8  [started via `localstack start` command]
**Further details**: all testing has been done using `awscli-local` to interact with localstack

**Issue**: Although all resources created by Cloudformation within localstack appear without issue, Cloudformation itself never populates any

[2020-03-06 20:36] OskergMonReap opened #46 "S3 objects do not populate in dashboard"
**Commandeer version**: 0.6.0
Installed across multiple Linux Distro's via **AppImage**
**Localstack version**: 0.10.8 [started via `localstack start` command]
**Further details**: all testing has been done using awscli-local to interact with localstack

**Issue**: Only resources, ie S3 buckets, are populating within the Commandeer dashboard. When I add objects via the awslocal commands to interac

[2020-03-07 16:13] fsproru commented on #46
Hi Travis, thanks for submitting the issue, wound you mind sending us the
exact commands you ran and your local account file located in the data
folder (it’s in top right help menu in Commandeer app)?

On Fri, Mar 6, 2020 at 12:36 PM Travis <notifications@github.com> wrote:

[2020-03-07 17:04] OskergMonReap commented on #46
Thanks for the quick response! Account file details are below:
[code]

Bucket was created via: `awslocal s3 mb s3://<bucket-name>`
--> verified it was succesfully created via dashboard as well as `awslocal s3 ls` and `awslocal s3api list-buckets` commands

Files/Objects were added via `awslocal s3 cp <file> s3://<bucket-name>/`
--> verified object was succesfully added via `awslocal s3 ls s3://<bu

[2020-03-07 17:11] OskergMonReap commented on #45
Account data file contents:
[code]

**Commands ran**: Initially tested with a very simple cloudformation stack that just created a bucket with no real configuration, sample template:
[code]
Then deployed locally via `awslocal cloudformation create-stack --stack-name tests3stack --template-body file://S3_bucket_retain.yml`
--> confirmed stack deployed succesfully via `awslocal cloudformation list-s

[2020-03-07 20:57] jbentus commented on #7
@fsproru I didn't find the `account.uuid.json` file but i've got a similar one called `account.local.json` which has:

`{"id":"local","name":"local","algolia":{"applicationId":"","apiKey":""},"aws":{"region":"us-east-1","accessKeyId":"NO_LOCAL_ACCESS_KEY_ID","secretAccessKey":"NO_LOCAL_SECRET_ACCESS_KEY","apigatewayEndpoint":"http://localhost:4567","cloudwatchEndpoint":"http://localhost:4582","dyn

[2020-03-09 18:18] fsproru commented on #7
Hey guys, just ran the bash scripts to create test SNS and SQS and they're displayed in Commandeer after hitting the refresh button. If you can make sure you hit refresh, that would be great.

![Screen Shot 2020-03-09 at 11 14 50 AM](https://user-images.githubusercontent.com/1017606/76244457-53dc8a00-61f7-11ea-900b-155b2270bd7d.png)

The only thing I can think of if it's a platform-specific issue.

[2020-03-09 23:15] fsproru commented on #7
Also just worked on Ubuntu 18.04

![Screenshot from 2020-03-09 16-14-27](https://user-images.githubusercontent.com/1017606/76265236-36bcb100-6221-11ea-9d8c-1428eeda1778.png)

[2020-03-10 21:06] jbentus commented on #7
@fsproru yeah it might be. I am running on a Windows 10 machine, and running `localstack:0.10.4` as a docker image

[2020-03-29 10:51] marc-guenther opened #47 "Mac: do not rebind CMD-a"
On Mac, the keyboard shortcut CMD-a is commonly used for selecting all text in any textfield.

Commandeer uses it to create a new account, which is very confusing, as everytime I want to select text, a huge window pops up...

[2020-03-29 10:52] marc-guenther opened #48 "Regionscanner EC2: Details Buttons don't do anything"
In the EC2 Regionscanner., there are orange Details buttons on every region, which do absolutely nothing when clicked...

[2020-03-29 10:53] marc-guenther opened #49 "Mac: Clicking Dock icon should not create new window every time"
Clicking the Dock icon should activate the app, but it create a new window every time.

[2020-03-29 10:55] marc-guenther opened #50 "Window size is not remembered - def. on Mac, (check Windows and Linux too)"
When launching the App, it comes up in almost full screen every time, even though I made it smaller in the last session.

[2020-03-29 10:58] marc-guenther opened #51 "EC2: Instance name column shows wrong name"
In the list of instances, the Name of the instance shows the name of the Key Pair, and not the name of the instance.

From the json, is currently shows the value of "KeyName", but it should be the value of the "Tags: key=Name" section.

[2020-03-29 11:02] marc-guenther opened #52 "Mac: Uploading credentials.csv through drag&drop doesn't work"
Dragging the credentials.csv file makes it apper, but the button just stays grey. I had to enter the two Keys manually

[2020-03-29 11:06] marc-guenther opened #53 "Navigation column: Selecting an entry sometimes doesn't work"
In the Navigation column, mouse-down on the text of an unselected entry, move the mouse over to the icon, and release.

This will select the entry, but not switch the corresponding view.

I only noticed, apparently I like to click in the area between icon and text, and then if you move the mouse just a little bit while clicking, this happens.

[2020-03-29 11:10] marc-guenther opened #54 "Navigation column: expandable entries do not get selected"
Clicking on an entry with children:
- toggles the children on and off
- select the corresponding view (if it has one, some entries don't have one)
- but does NOT select the entry itself. The selection just stays wherever it was.

Eg. I'm in the "Whats New" entry, and click on "API Gateway".

It's also not a good idea to have the same click to the toggling AND the selecting.

[2020-03-29 15:26] bwship commented on #47
Yes, new release has this fixed.  We got confused too :)

[2020-03-29 15:26] #47 closed

[2020-03-29 15:27] bwship commented on #54
In next release, the parent in the treeview wont cause you to change pages.  If there is a dashboard, it will be a menu item under say API Gateway.  I think this flow works better, but we shall see.   Next release is slated for this week.

[2020-03-29 15:28] bwship commented on #49
yea, this is fixed in next release

[2020-03-29 15:28] #49 closed

[2020-03-29 15:29] bwship commented on #52
this is working for me on the current version and new version.  I'll keep it open for now to monitor it.

[2020-03-29 15:30] bwship commented on #51
this is fixed in new release.  Yea names are from tags, it's crazy.

[2020-03-29 15:30] #51 closed

[2020-03-29 15:30] bwship commented on #50
This is a good one to add in.

[2020-03-29 15:31] bwship commented on #48
yea, this is a bug.  we will get it resolved

[2020-03-29 15:32] bwship commented on #48
ok, this is fixed in next release.  that button should be hidden now.

[2020-03-29 15:32] #48 closed

[2020-03-29 15:33] bwship commented on #53
will monitor this with our new setup on navigation.

[2020-03-29 16:28] marc-guenther commented on #54
Yes, that sounds good. I was wondering, why some topics have Dashboards, and some don't. It makes sense to make a Dashboard for every one. Parent items shouldn't have pages at all.

[2020-03-29 16:53] fsproru commented on #53
Good once, I increased the clickable area in the new nav, so it should be
better in the next release.

On Sun, Mar 29, 2020 at 8:33 AM Bob Wall <notifications@github.com> wrote:

[2020-03-29 16:57] marc-guenther commented on #52
Ok, now I cannot reproduce that anymore. Drag'n drop works correctly all the time.

What doesn't work though is clicking the Upload button. It works exactly once, when after the first upload you remove the file and the keys in the two textfields, another upload will not add the file anymore. It will open the File Open Dialog, but not do anything with the selected file.

I also cannot reproduce the

[2020-03-29 17:09] marc-guenther opened #55 "Localstack doesn't find homebrew docker installation"
The Localstack Install complains:
[code]

Of these, only the last one is correct, the other two are in `/usr/local/bin` (installed through Homebrew)

I cannot find any option to set the PATH from inside Commandeer.

[2020-03-29 17:13] marc-guenther opened #56 "LocalStack Install button is disabled"
Ok, this may be a minor detail. But the first time I played around with this, the "Install" button was gray, and the "Docker Container >" button next to it doesn't do anything.

Turns out I pressed the Play button. This complains that it cannot start LocalStack (obiously, as  I don't have it installed), but it also disables the Install button, and never recovers from that situation.

Restarting Co

[2020-03-29 17:15] marc-guenther opened #57 "Reload results in white empty window sometimes"
I have not yet been able to reproduce this reliably, but it happened so often now, that I wanted to report it. After I use Commandeer for a while, pressing _Reload_ (CMD-r) simply clears the window forever. Also _Force Reload_ doesn't make anything reappear.

Opening a new window still works.

[2020-03-30 06:29] marc-guenther commented on #53
This bug works in both directions, if you start at the icon and drag over to the text, and vice versa...
It seems the icon and text are two different things, and can't handle each others events?

[2020-03-30 16:00] fsproru commented on #53
Yep, both, the icon and the text have their click area. We tightened up the
navigation in this upcoming release, let’s see how it feels in the new
release.

On Sun, Mar 29, 2020 at 11:29 PM marc-guenther <notifications@github.com>
wrote:

[2020-03-31 10:08] ebarault opened #58 "support aws cli config files and profiles"
Hi,
Could Commandeer make use of AWS cli config files and profiles?
~/.aws/credentials
~/.aws/config

It's usually the best practice for any soft leveraging aws sdks as any aws devs would use those already.

Furthermore the use of profiles is critical when using a unique AWS account (with credentials) to access ressources in different AWS accounts through IAM roles.

[2020-03-31 16:12] fsproru commented on #58
Thanks @ebarault, it’s a great feature to add to Commandeer, added it to the backlog 👍

[2020-03-31 16:32] bwship commented on #58
@ebarault - yes this is in the pipeline.  I am still trying to figure out how we are going to do SSO and short-loived keys in the system.  Are you saying that you crednetials file auto updates with new refreshed keys when you are assuming a role.  Because some ways I have been thinking about it is that you connect to an account in Commandeer, and would press a button to get new keys, and it would

[2020-04-01 05:23] bwship commented on #52
ok no problem.  we will look into the upload button.  we have been doing some cleanup in there anywya, and are looking into some sort of ability to upload from your ./aws folder too

[2020-04-01 05:26] bwship commented on #57
I believe this is resolved for the next release.  I know that it will at least now give you a nice but i believe it also doesn't hang anymore.

![comm](https://user-images.githubusercontent.com/1326114/78102170-83b62200-739e-11ea-84f0-a8f878a397c1.png)

Going to close for now.

[2020-04-01 05:26] #57 closed

[2020-04-01 05:29] #54 closed

[2020-04-01 05:29] #53 closed

[2020-04-01 05:33] bwship commented on #7
@jbentus - we are using this version - localstack/localstack:0.10.6 in Commandeer, not sure if that is affecting you.  I will try this on my windows 10 box too though to see.

[2020-04-01 08:04] ebarault commented on #58
@bwship could you precise what you mean by SSO? do you mean AWS SSO (https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html) ?

If yes, that's a more advanced feature, and i'd suggest moving on gradually with this by first integrating aws cli config files support, since as you can see in the link i shared, the sso config for the cli and sdks should end-up in those config files too

[2020-05-01 10:32] markingram commented on #7
I'm hitting this same problem (using the Docker setup for SQS) on MacOS Catalina 10.15.4 and Commandeer v1.0. Any further insights into why there's a network error?

[2020-05-01 12:26] markingram commented on #7
If I go to Infrastructure -> LocalStack -> Dashboard and click the option to "Start All Services" then when all comes up I can successfully run commands like the following and see it reflected in Commandeer as expected.

[code]

[2020-05-01 16:43] ssanri opened #61 "Documentation link in Help dropdown is broken"
It tries to open https://getcommandeer.com/docs but documentation is in docs.commandeer.com

[2020-05-01 16:55] fsproru commented on #7
Thanks @markingram, yep, starting localstack fully is best. We also do it using Docker so the environment is consistent on all platforms. Let me know if you run into anything else.

On a related note, we pushed the 1.0.0 version today with a lot of new features. You should check it out ;-)

[2020-05-01 16:55] #7 closed

[2020-05-01 17:03] ssanri opened #62 "Filter in DynamoDB is broken"
In documentation it mentions that table can be filtered quickly with indexed fields which seems to not work at all. Searching primary column or any indexed column value doesn't return any results. Also why id column is default in grid? I haven't understand this from 4-5 versions back. For instance as policy we are not allowed to use generic column names, each table should have identifier with it's

[2020-05-01 19:35] markingram commented on #7
That was the trick: starting localstack fully. For others, here's the Docker Compose file that works fine for me (on MacOS using Commandeer v1.0.0):

[code]

[2020-05-02 17:04] fsproru commented on #62
Hi @ssanri, thanks for reporting an issue with the search, well look into it.

Regarding the column names, you can customize the field names to fit your usecase.

[2020-05-03 01:48] fsproru commented on #61
Thanks @ssanri, the latest 1.0.0 version has the link updated. You can download it from https://getcommandeer.com/download

[2020-05-03 01:48] #61 closed

[2020-05-04 12:57] ssanri commented on #62
@fsproru Thanks for the response. Yeah I can create  and customize the field names but can't get rid of id column created by default. Also it would be really nice and great feature if we can define which columns to be displayed in table view.

[2020-05-06 04:56] fsproru commented on #62
Nice! The ability to show and hide the columns is a good one to add.

I see what you're saying now. The id column is still displayed by default
for a table with a primary key other than id (like userId, etc). Good
catch, we'll take a look 👍

On Mon, May 4, 2020 at 5:57 AM ssanri <notifications@github.com> wrote:

[2020-05-07 14:14] bwship commented on #62
@ssanri - the id column was hard coded if there were no records.  We have made a fix for this.  It will be out in the next week or so with the new release.  We also added the ability to truncate a table, and refined the uploading capabilities.  I am going to look into the filtering aspect now, to try to make sure that is working.  Thanks for the feedback.

[2020-05-07 14:49] ssanri commented on #62
of course. thanks for the consideration. also I am a UI/UX engineer and I have a quick feedback as a user. The new right information sidebar you guys added enormously big and taking unnecessary real-estate.

![image](https://user-images.githubusercontent.com/53793378/81308073-60daf580-904f-11ea-8417-f642fe3918c9.png)

since we can't resize any block vertically I can only see small part of table. F

[2020-05-08 15:06] fsproru commented on #62
@ssanri, great feedback! We’re improving this layout altogether, I like your suggestions. If you have more feedback, don’t hesitate to reach out.

[2020-05-08 15:10] bwship commented on #62
@ssanri - The plan is to have a dashboard page and a data page for each table.  This should make it a much better experience.  We are hoping to get the new layout out in the next week or so.

[2020-05-23 03:01] ssanri opened #64 "Pagination and refresh issues"
I am not sure if this one already has been reported but if I change the pagination per page count from 10 to 25 and open one record, closing window behaves a weird way. pagination count still shows 25 but list only shows first 10. Same thing also happens if I move through pages. i.e opening a record on page 5 then closing takes you back to page 1 but pagination still shows page 5.

Another issue a

[2020-05-23 16:05] fsproru commented on #64
Thanks @ssanri. @elgar999, could you take care of this pagination issue while you’re working on DynamoDB?

[2020-05-24 06:17] elgar999 commented on #64
@fsproru, sure

[2020-06-03 07:06] pankajazy opened #65 "Total Messages are getting concatenated under SQS Dashboard instead of their sum"
![image](https://user-images.githubusercontent.com/30962971/83605921-636d3400-a596-11ea-86ae-a6d9173fdf4c.png)
There are 2 sqs queue : sms_queue (12 messages) and smsqueue (1 message)
On the dashboard total Messages count should be 13 instead of 121 .

[2020-06-03 14:43] fsproru commented on #65
Thanks @pankajazy, good catch 👍

[2020-06-23 15:10] fsproru commented on #65
This one should be fixed in 1.2.0

[2020-06-23 15:10] #65 closed

[2020-06-29 00:37] john20xdoe commented on #55
Any workaround for this?
Tried to create a symlink in /bin for /usr/local/bin/docker
    $ ln -s /usr/local/bin/docker docker
but "Operation not permitted".
This is on MacOS Catalina, if that helps.

[2020-06-29 00:47] fsproru commented on #55
Hey guys, thanks for reporting it. These statuses can be a little misleading at the moment as we work through it.

The only thing you need to run LocalStack is Docker. Since we talk to Docker socket directly. As long as you have Docker running on your local machine and the Docker status is green on the top right in Commandeer, you should be able to use LocalStack using Commandeer.

Let me know if

[2020-06-29 00:51] john20xdoe commented on #55
@fsproru THanks for the info. Docker is green and Localstack is able to start up its individual AWS services (manual one-by-one click on Start buttons or Start All).
I guess we don't need to use Localstack Install for now while issues are being resolved.

[2020-06-29 00:54] fsproru commented on #55
Thanks @john20xdoe, we’ll also update the LocalStack status and Serverless status to use Docker status since that’s the only thing we need to run them.

[2020-06-29 00:54] #55 closed

[2020-07-19 12:03] mengelseatz commented on #45
I'm seeing similar although slightly different things.  I have a simple CF stack with SNS, SQS and S3 and deployed in localstack using the awslocal command line and only S3 and SNS show up as being created.   CF shows my stack but there is no information about the stack in the viewer (although maybe that's just the way it currently looks - basically it just gives you a simple status page?).

But t

[2020-07-19 12:14] mengelseatz commented on #45
Using the non-edge SQS port of 4576 for docker-compose.yml and in Commandeer didn't resolve the issue.  See attached screenshot of sidebar

<img width="401" alt="Screen Shot 2020-07-19 at 8 13 09 AM" src="https://user-images.githubusercontent.com/46827169/87874443-d17b8800-c997-11ea-9842-7522b371411c.png">

[2020-07-19 17:52] fsproru commented on #45
@mengelseatz would you mind sending the instructions and the template configuration you ran to create the stack so we can reproduce it on our end?

[2020-07-20 18:22] mengelseatz commented on #45
Sure thing @fsproru

CloudFormation template yaml
[code]

relevant docker-compose.yml for Localstack
[code]

and lastly this command is run from inside the Localstack container to create the AWS resources

`awslocal cloudformation deploy --template-file /docker-entrypoint-initaws.d/template.yml --region us-east-1 --stack-name iz-localstack`

Let me know if you need anything else or want me to test

[2020-07-20 21:20] fsproru commented on #45
Hey @mengelseatz, thanks for providing the templates. It was quite helpful to reproduce the issue. I stood up LocalStack from your docker-compose.yml and deployed cloudformation template you provided.

You're right, the resources don't get shown in Commandeer right away, you'll need to click the refresh button for Commandeer to pick up the new resources created outside of Commandeer. Just click th

[2020-07-20 21:31] mengelseatz commented on #45
Thanks @fsproru!  I didn't see that refresh global button and was only hitting refresh on the SQS section alone which at least for me didn't work.
I did also have the EDGE port configured as you showed but again if you only hit the SQS refresh it doesn't seem to find the resources.
That said I just tested though and the global one works great.    Thanks again!!

[2020-07-20 21:46] fsproru commented on #45
Great, I'm glad it worked out, we'll test the refresh button on SQS too. Thanks for reporting it. Don't hesitate to reach out if you or your team members run into any issues.

[2020-07-20 21:46] #45 closed

[2020-07-22 12:42] mengelseatz opened #72 "Caching of resources won't refresh"
I'm running the latest Commandeer on Mac OS.    When I boot up Localstack and generate resources from a CloudFormation template, I can hit refresh at the account level and in my AWS dashboard the resources are correctly there.   But if I change my template to say remove 90% of the resources and redeploy my Localstack container and hit refresh in Commandeer all the old resources (DDB tables, s3 buc

[2020-07-22 14:34] bwship commented on #72
Couple different things on this.  Instead of removing the whole Commandeer folder, you can just remove the ~/Library/ApplicationSupport/data/services-cache folder, and then hit refresh and it should be correct.  The services-cache folder is just json representation of your system stored locally.

But this of course isn't an ideal solution.  I am wondering if the resources in your localstack are pe

[2020-07-22 14:41] mengelseatz commented on #72
Thanks @bwship    Let me play around in and see if I can get this cleared up.

Appreciated the quick response.

[2020-07-22 16:05] bwship commented on #64
@ssanri - the fixes for this are coming out in the next week or so in version 1.3.  There are an absolute ton of enhancements to Dynamo, so I think you will really like it.

[2020-07-22 18:21] mengelseatz commented on #72
OK that helped.. I also removed any traces of storing data on the container.   That said, there's still a lot of having to hit refresh multiple times to get it updated as the global refresh doesn't  seem to send events down to the individual service views in the sidebar or the detail panes on the right side.    I get that in prod this isn't likely to be the case but when doing new development wher

[2020-07-22 18:21] #72 closed

[2020-07-22 18:25] bwship commented on #72
@mengelseatz - yea, two things on that.  1. The upcoming release 1.3 will have better refreshing at the service level.  We are actually working through some major pieces now for tighter flow integration of the side navigation, breadcrumbs, and right-click menus, so as a result this is getting cleaned up too.  2. we have been discussing making a cloud formation runner, like how we have for Ansible

[2020-07-22 18:38] mengelseatz commented on #72
Thanks @bwship those all sound good.   Right now I'm working on a local only dev solution for the teams to use and  having a way to push the CloudFormation into the app I think would be useful and easier to grok as I wouldn't have to have these init scripts running in the local stack container.   Also they could test it against an AWS sandbox as well which I like the idea of.     I'm not giving up

[2020-08-14 22:54] bwship commented on #64
@ssanri - closing this one.  Let us know how your experience goes on Dynamo in version 1.3.  We are planning on releasing some more enhanced filtering capabilities, so any input would be helpful.

[2020-08-14 22:54] #64 closed

[2020-08-14 22:55] bwship commented on #62
@ssanri - closing this one out too.  Filtering should be solid, though in version 1.4 we should have multi-filter and an actual run button.

[2020-08-14 22:55] #62 closed

[2020-09-14 03:27] wkhatch commented on #46
I'm experiencing this issue as well. The walk through here: https://docs.getcommandeer.com/blog/localstack/how-to-view-files-on-s3-in-localstack.html is not what I experience. I get blank panels that indicate the Port only, for all Localstack resources. I am running mine in context of a docker-compose, where ports are mapped between host and the container, so I am seeing the running services in Co

[2020-09-14 03:34] wkhatch commented on #18
You should remove that claim then. It's pretty clearly stated in your info that you DO in fact support that feature, as of now...

[2020-09-14 16:22] fsproru commented on #18
@wkhatch good call, this issue looks outdated since we now support both, the SSL connection and connecting to a remote host. Closing this for now. Let me know if you run into any issues.

[2020-09-14 16:23] #18 closed

[2020-09-14 18:20] mklatsky opened #77 "Cannot add variables when using Ansible runner"
Commandeer version: 1.3.0
OS Version: MacOS 10.15.5 (19F101)

When using the Ansible runner, I need to add an environmental variable for my playbook.
 When I click the gear icon, I am presented with the Ansible Settings window. When I click the "+ Add" button, beyond the animation- nothing occurs. Thus, I am unable to add the needed environmental variables.

Expected behavior:  clicking the "+ Add

[2020-09-15 05:08] fsproru commented on #77
Hi @mklatsky, thanks for reporting the issue. Could you send us the content of your account file from your data folder (with the sensitive information removed). You can access it from the Help menu at the top right. Perhaps the Ansible section of the account needs a minor adjustment.

[2020-09-15 05:14] fsproru commented on #46
@OskergMonReap, would you mind upgrading to the latest version of Commandeer which has the refresh button next to the account select drop down. See if clicking it helps to see the new content created outside of Commandeer so. We fixed a similar issue in one of our releases since 0.6.0.

[2020-09-15 05:15] fsproru commented on #46
@wkhatch would you mind sharing your Docker Compose file and the way you create resources so we can reproduce the issue locally?

[2020-09-15 12:58] wkhatch commented on #46
@fsproru I subsequently figured out my issue. I had been digging into the views from the Localstack tab, and not the actual corresponding aws service tabs. And, the way that behaves based on local/production accounts also added to my own confusion a little. But, everything works, and, had been working. I'm assuming that commandeer automatically connected to my localstack container instance via doc

[2020-09-15 13:00] OskergMonReap commented on #46
Just installed the newest version and my issue is resolved, I'm able to view folder structure and objects successfully. Thanks @fsproru, let me know if you would like me to keep this issue open to continue troubleshooting with @wkhatch

[2020-09-15 13:04] OskergMonReap commented on #46
Glad its working for you @wkhatch, @fsproru perhaps a link to the S3 service tab from the localstack's s3 tab would be a nice feature that would minimize confusion? regardless, all is well. closing

[2020-09-15 13:04] #46 closed

[2020-09-15 15:18] fsproru commented on #46
Thanks guys, linking into a corresponding AWS service from a LocalStack detail page is actually a great idea. Well look into that.

[2020-09-15 18:24] mklatsky commented on #77
[commandeer.json.txt](https://github.com/commandeer/open/files/5226923/commandeer.json.txt)

I have attached my obuscated account file. Interestingly, I am not seeing an Ansible section. Thank you.

[2020-09-15 23:11] wkhatch opened #78 "View Data text selectable"
In both lambda invocation logs, and cloudwatch logs, it would be nice if the displayed text were selectable for clipboard copy, etc.

[2020-09-16 15:38] fsproru commented on #78
Thanks @wkhatch, it's a good idea to add it to the table view. Did you try switching to the terminal view and copy the text from there?

[2020-09-19 16:14] fsproru commented on #77
Thanks @mklatsky, we found the issue and the fix will come out in the next release. In the meantime you can add the Ansible section to your account file at the root level to start saving the variables from the UI.

[code]

[2020-09-19 16:18] fsproru commented on #56
Hi @marc-guenther, thanks for reporting it. Would you mind trying the latest version of Commandeer?

We removed the install button and starting LocalStack pulls a LocalStack container automatically. Just make sure you have Docker installed.

Closing this one for now. Let us know if you run into any issues and we'll reopen.

[2020-09-19 16:18] #56 closed

[2020-09-19 16:20] fsproru commented on #24
Closing since the whole new website is coming

[2020-09-19 16:20] #24 closed

[2020-09-19 16:21] fsproru commented on #22
@mircea-pop @nakedcity editing LocalStack ports is available in the latest version of Commandeer. You should check it out.

[2020-09-19 16:21] #22 closed

[2020-10-01 06:42] kritulrathod opened #79 "Support for latest version of localstack"
Is there a way to use the latest versions of the localstack (localstack/localstack-full:latest) image with commandeer.

I already have the docker image running however, when I start the commandeer localstack services, It launches (localstack/localstack:0.11.2)

Is there a way to configure to use the latest version.

![image](https://user-images.githubusercontent.com/7039094/94776373-424f0f80-03df-

[2020-10-01 16:18] fsproru commented on #79
Hi @kritulrathod, good call, we should add the ability for you to specify the LocalStack image you already have. We'll look into it in the future releases.

[2020-10-09 22:01] rpinna opened #80 "serverless-dynamo-stream-plugin configValidationMode: warn warning"
Thank you for writing the much-needed `serverless-dynamo-stream-plugin`  plugin.

fyi, with

`configValidationMode: warn`

serverless generates

[code]

on this version

[code]

for this yaml

[code]

[2020-10-12 00:13] fsproru commented on #80
@rpinna thanks for submitting the issue. Just pushed a new version 0.1.5 defining the event schema if the version of Serverless supports it.

I wasn't able to reproduce it on my machine. For some reason, even the latest version of serverless npm still have the lower version of Serverless than yours.

[code]

Would you mind giving 0.1.5 a shot to see if it takes care of the warning?

[2020-10-27 03:16] ssanri commented on #79
with latest localstack, all ports are removed and served under 4566. now in commandeer I see except elasticsearch ( which was 4566) all services are offline. if I try to start them, then it creates another container and stops my current one. Also another bottleneck is, I can't modify environment variables of the container created by commandeer. If we can at least have an option to edit port number

[2020-10-27 16:17] fsproru commented on #79
Hi @ssanri, to modify the ports on the LocalStack container, you can add some environment variables in LocalStack settings. We pass them to the container once it restarts.

On a related note, you can also configure the ports Commandeer uses in the AWS section of your Commandeer account.

[2020-10-27 17:38] ssanri commented on #79
 Correct, I can change the ports localstack uses, but still using the old image which has some bugs around api gateway. That’s the main reason I was using latest localstack image. Changing ports on old localstack image doesn’t really help in that case. I am not sure what did you mean by changing the ports commandeer uses in the AWS section. I don’t/can’t see any settings to define these ports.  (1

[2020-10-27 17:44] ssanri commented on #79
Ok, I think I got it. I found the port settings.  Thank you  Serdar SanriSr Engineer, Fern Health(e) serdar@fernhealth.comwww.fernhealth.com  From: Alex TamoykinSent: Tuesday, October 27, 2020 12:17 PMTo: commandeer/openCc: ssanri; MentionSubject: Re: [commandeer/open] Support for latest version of localstack (#79) Hi @ssanri, to modify the ports on the LocalStack container, you can add some envir

[2020-10-28 17:26] fsproru commented on #79
Some great news, we're working on the patch release which will allow to set
the version of LocalStack Docker image to run. We'll deploy it soon.

On Tue, Oct 27, 2020 at 10:45 AM ssanri <notifications@github.com> wrote:

[2020-10-29 02:42] fsproru commented on #79
@kritulrathod @ssanri we just pushed 1.4.1 out. If you open the app, it should auto-update to the latest version. We added an option to LocalStack settings allowing you to specify a version of LocalStack to run. You can simplify put `localstack/localstack:latest` there and restart LocalStack.

<img width="682" alt="localstack-custom-image" src="https://user-images.githubusercontent.com/1017606/975

[2020-10-29 02:57] ssanri commented on #79
This is very helpful and thank you for quick escalation. This should help a lot.

Since Commandeer can access other docker containers, would that be possible in this screen to give user an option to select existing containers created with localstack namespace, or create new one? I can see the use of it. If someone has a container (like me already set ) and has bunch of data already recorded to kee

[2020-10-29 03:23] kritulrathod commented on #79
@fsproru Thanks for quickly churning out this feature. Agree with @ssanri , I too had issues working with single port version. Will try the updated version and see if I still get that error.

Thanks again...

[2020-11-02 16:38] fsproru commented on #79
@ssanri, I see what you're saying. Great feedback!

Regarding the Docker container version, what Commandeer does currently is
it finds a container with a matching image name from your settings or
`localstack/localstack:0.11.2` by default. I like your idea though. And
you're exactly right, if there are multiple LocalStack containers with the
same image name, it'll just pick up the first one. What w

[2020-11-03 17:37] fsproru commented on #80
Closing since the fix went out. Let us know if you run into any issues.

[2020-11-03 17:37] #80 closed

[2020-11-20 18:29] ssanri opened #81 "Pagination issue resurrected"
Hi, I have reported this while back and it looks like it is resurrected. On dynamodb table data, changing pagination options or page doesn't reflect on table. For instance initially it loads 10 records of 20. I can see 10/20 at the bottom. if I change to second page, page number changes but data is still the same on the table.

If I reopen the same page then change 10 per page to 20/50 per page, t

[2020-11-20 18:34] fsproru commented on #81
Hi @ssanri, thanks for reporting it. We're reworking the pagination, as well as the query and filter capability. It's coming out soon in the new 1.5 release.

[2020-11-23 20:44] ssanri commented on #81
Hi @fsproru, Is there any updates on rework of pagination? Currently it is really makes it hard to use since I can only use one filter on tables and when there are 300 results I can only see first 10 of them.

[2020-11-23 20:54] fsproru commented on #81
Yep, the rework is in progress, we're aiming for doing a release this week.

[2020-11-25 12:26] mathijsvoss commented on #7
I am experiencing this issue with certain localstack services like api-gateway, sqs and sns.
I am using the commandeer version 1.4.1 on Ubuntu 20.04.1 LTS.

Using the AWS CLI i can see and create topics and queues for example.

My docker file contains the following:

[code]

[2020-11-25 12:29] mathijsvoss opened #84 "Localstack some services network failure"
I am experiencing this issue with certain localstack services like api-gateway, sqs and sns.
I am using the commandeer version 1.4.1 on Ubuntu 20.04.1 LTS.

Using the AWS CLI i can see and create topics and queues for example.

I tried the solutions in the older issue but this is not resolving it:
https://github.com/commandeer/open/issues/7

My docker file contains the following:

[code]

[2020-11-25 22:15] fsproru commented on #84
@mathijsvoss, thanks for reporting it. Could you send us the content of your local account? You can download it from Commandeer -> Accounts -> Your local account

Also, are all your AWS endpoints set to `http://localhost:4566` in your local account section like here: https://docs.getcommandeer.com/releases/latest/version-1.2.0-6-21-2020.html#localstack ?

On a related note, did you try to start Lo

[2020-11-25 22:26] fsproru commented on #84
Also, seeing that you're starting LocalStack in `eu-central-1` region. This may be the reason why you're seeing network errors in Commandeer. We have the region default to `us-east-1` for local accounts. Which we're thinking to enable in a future release.

In the meantime, would you mind trying to start LocalStack in `us-east-1` by starting it in Commandeer or by specifying `DEFAULT_REGION=us-east

[2020-11-27 09:08] mathijsvoss commented on #84
@fsproru, I tried downloading my account settings but this also triggers an error. See the screenshot below.

In my env values of Localstack i have set EDGE_PORT to 4566, i also changed the region to us-east-1.
But i have still got the same errors.

![commandeer_screenshot](https://user-images.githubusercontent.com/16712065/100431450-7a4d9880-3098-11eb-8bf0-60b7f2902064.png)

[2020-11-27 22:11] fsproru commented on #81
@ssanri the new version 1.5 is out with the new Dynamo query experience. Let us know if you run into any issues.

[2020-11-27 22:11] #81 closed

[2020-11-27 22:14] fsproru commented on #84
Thank you. Could you try the latest version 1.5 that we just pushed? It
points Comandeer UI to http://localhost:4566 by default for local accounts.
You may need to recreate your local account once you upgrade. Let us know
how it goes.

On Fri, Nov 27, 2020 at 1:08 AM mathijsvoss <notifications@github.com>
wrote:

[2020-11-29 05:27] ssanri commented on #81
Perfect! thank you Alex. Works as expected. One quick feedback, unrelated, we would love to apply format/unformat data option on json data fields too. when there is large amount of json data in one field, rows become huge and hard to track/compare in a table view. That would be amazing to switch off Format Data option and flatten & truncate json fields to give a better visual table.
![image](https

[2020-11-30 11:03] mathijsvoss commented on #84
I tried installing the new version but can not open commandeer?
When i try to launch the application my desktop looks to be refreshing or something like that.
You may also contact me directly by email through my license information if you prefer.

[code]

[code]

[2020-11-30 15:54] ssanri opened #85 "Javascript error on startup"
@fsproru Was there a major change on background events? I keep getting this error this morning when I try to start the app
![image](https://user-images.githubusercontent.com/53793378/100632071-62754f00-32fa-11eb-8781-ad25140d05e6.png)

[2020-11-30 16:08] fsproru commented on #85
Thanks @ssanri, @bwship could you take a look on Windows?

[2020-11-30 16:49] fsproru commented on #81
Thanks @ssanri, we actually have a similar solution in our log viewer, if
there is some large json or text in a column, we add a button that shows
the whole column on click. I like your suggestion to just visually truncate
the long values in the table, because you can see the whole data when
clicking on the row. Good one! Added it to the list. Please don't hesitate
to share more feedback, it's bee

[2020-11-30 19:35] fsproru commented on #85
Hi @ssanri, we tried to reproduce the issue and the app stands up and works normally on Windows. Would you mind trying some of the following:
* Reinstall the newest version of the app from the [Download Page](https://getcommandeer.com/download)
* If the app stands up for some time, then going into your account and clearing the cache like on this screenshot
<img width="1091" alt="Screen Shot 2020-1

[2020-11-30 20:07] fsproru commented on #84
@mathijsvoss thanks for reporting it. I downloaded, installed the latest version of Commandeer 1.5.0, and launched it from the terminal.

Looking at the output, it says `Didn't get the single instance lock, quitting the app` which means that there is another `commandeer` process already running. Could you see if you have commandeer running in another terminal tab or perhaps somehow in the backgrou

[2020-11-30 20:32] fsproru commented on #85
@ssanri, we reproduced it and working on the fix. In the meantime, there is a workaround.

What's happening is that after the upgrade to 1.5.0, you most likely started the app, did some work, and then closed it. In 1.5.0 we started to put some of the work on the background. When the window is closed it leaves the background process on and it prevents launching a new window when you start it again

[2020-11-30 20:35] fsproru commented on #84
@mathijsvoss, we found the issue, working on the fix, and we'll push a fix soon.

[2020-11-30 20:39] ssanri commented on #85
@fsproru Thank you Alex. After I posted the issue I noticed 3 instances running in TaskManager. I ended those and started Commandeer it worked as expected.

[2020-11-30 20:39] #85 closed

[2020-12-02 17:59] fsproru commented on #85
@ssanri, thank you, we have a fix for it, working on the 1.5.1 release now to get it out. In the meantime, you can just close the lingering processes when you restart as a workaround.

[2020-12-03 00:50] fsproru commented on #84
@mathijsvoss the duplicate process issue is now fixed in 1.5.1. Let us know if you're getting the network failures for LocalStack.

[2020-12-03 00:51] fsproru commented on #79
the version 1.5.1 has the ability to specify a custom version of localstack container, closing this issue.

[2020-12-03 00:51] #79 closed

[2020-12-03 00:52] fsproru commented on #85
@ssanri 1.5.1 is released with the fix for duplicate processes.

[2020-12-03 02:52] #52 closed

[2020-12-03 03:11] #77 closed

[2020-12-05 00:57] bwship opened #86 "Localstack not picking up correct region"
If you switched to a local account, it does not use the correct region.

[2020-12-07 17:14] smacdav commented on #86
The value of the environment variable DEFAULT_REGION is us-gov-west-1. My terraform file (which also specifies us-gov-west-1) and command line output are in the attached zip file. Note that the FunctionArn contains us-east-1 as the region.

[wrong-region.zip](https://github.com/commandeer/open/files/5654123/wrong-region.zip)

[2020-12-07 20:49] #84 closed

[2020-12-08 00:12] fsproru commented on #86
@smacdav, thanks for sharing the example. We made a fix in the 1.5.2 release we just pushed out. Now the `DEFAULT_REGION` environment variable (or any other environment variable) gets passed in to LocalStack on start.

I just started LocalStack with `DEFAULT_REGION` set to `us-gov-west-1`, then ran through your example (had to create a dummyHandler.zip file with an empty java file in there to have

[2020-12-08 01:04] smacdav commented on #86
Thank you, Alex. This is my personal email, but I'll give your fix a try tomorrow morning.

Scott

On Dec 7, 2020, 4:12 PM, at 4:12 PM, Alex Tamoykin <notifications@github.com> wrote:

[2020-12-08 15:28] ssanri opened #87 "DynamoDB: When a data row deleted, popup gets stuck on screen"
After deleting a record, popup that shows details gets stuck on screen. Cancel button doesn't function, Save button disabled.

I think this is also related to #89 and seems to happen after it fails truncating table.

[2020-12-08 15:30] ssanri opened #88 "DynamoDB: Weird list of tables"
When something goes wrong, and application restarted. All table names displays as last table had issue. Please see screenshot below

![image](https://user-images.githubusercontent.com/53793378/101503695-5ca5ec00-3940-11eb-8d69-d0544ca7b731.png)
![image](https://user-images.githubusercontent.com/53793378/101503777-77786080-3940-11eb-9a62-ead438a151e4.png)

[2020-12-08 15:34] ssanri opened #89 "DynamoDB: Truncate fails when pk and sk defined together"
When there is partition key and sort key defined in a table Truncate operation fails

![image](https://user-images.githubusercontent.com/53793378/101504148-e2299c00-3940-11eb-8e04-41c117aa4dbb.png)

![image](https://user-images.githubusercontent.com/53793378/101504213-f372a880-3940-11eb-942b-70c07e75295f.png)

[2020-12-08 16:31] bwship commented on #88
@ssanri - as afirst step, on the account page (if you click the arrow in the top toolbar next to the current account and region dropdown), and press the clear local cache, and then hit the refresh button.  Might have just been something funky.  We will investigate further though.

[2020-12-08 16:43] fsproru commented on #86
Tested and works, closing the issue

[2020-12-08 16:43] #86 closed

[2020-12-08 16:56] ssanri commented on #88
Yes even reloading the app fixes the issue showing correct tables in list. I just wanted to report the bug I am seeing on initial load. Also on the side note, it is not just the names, all items on the list indeed opens same table. I was able to open few of them and removed some rows, all others were also in sync with the action taken.

[2020-12-08 18:42] smacdav opened #90 "Invoking Lambda in LocalStack results in no LocalStack logs being recorded"
When a Lambda is invoked in LocalStack, there are console logs generated by LocalStack to confirm that it was invoked and provide any warnings that are necesary. These logs do not appear if I invoke the Lambda via the Commandeer interface. To get these logs, I have to run my Lambda from the command line and then come back to Commandeer and see them. Typically, these logs look something like this:

[2020-12-08 18:47] smacdav opened #91 "Display returned values when invoking a Lambda"
Handlers on Lambda functions can return a value either by directly returning something or by writing to an output stream. From the command line you can write this value to an output file, but in Commandeer, there is no indication that anything was returned.

The ask here is that there be a way to display values that are returned from an invoked Lambda.

[2020-12-08 22:51] smacdav commented on #90
Since creating this ticket, I found that the logging I was looking for is showing up "invisibly" in the Lambda function terminal. I say "invisibly" because I can't see any text in that panel, but if I copy it and paste into a text editor, the text is there.

[2020-12-09 03:48] fsproru commented on #90
Thanks @smacdav, @bwship could you make the LocalStack logs visible/available for lambda invoke?

[2020-12-09 03:57] fsproru commented on #89
That's a good one. Thanks @ssanri, I can take care of this one.

[2020-12-09 04:15] fsproru commented on #87
Thanks @ssanri, another good issue!

[2020-12-09 04:19] fsproru commented on #88
@ssanri does it happen when the table fails to truncate due to the filters being set like in #89? Did you do anything specific that led to displaying multiple tables in the side nav?

[2020-12-09 14:39] ssanri commented on #88
@fsproru That's correct. It happens in both cases when something fails in dynamodb action, and reopen the app after closing. Also not only sidebar list. DynamoDB dashboard items as well as size chart on top also displays same table as the count of actual tables in system. I have 31 tables in dynamo and I can see 31 websocket-local table in both sides.

[2020-12-09 17:23] fsproru commented on #88
Got it, then solving the failure should take care of this issue with duplicated tables. We'll look into it. Thank you.

In the meantime, you can use the clear cache button on the account page. And for the table truncation, resetting the search filter before truncating a table is a good workaround in the meantime.

[2020-12-10 02:34] fsproru opened #93 "Sign the windows build"
Turned out "Run Anyway" option may not exist on a corporate computer. Signing a build will solve it.

[2020-12-10 20:11] fsproru opened #95 "Ability to switch localstack containers"
Ability to switch the localstack container Commandeer connected to, so we can start/stop/manage services for multiple containers on the same machine.

[2020-12-10 20:13] fsproru commented on #95
@ssanri, adding this issue based on your feedback. The ability to switch localstack containers in Commandeer should help with working with multiple containers.

[2020-12-11 16:30] bwship commented on #78
@wkhatch - adding in a modal for each row in both locations.  That will let you select the row, inspect the information, and share or copy the data.  I'll update this card with a screenshot of it when it gets further along, but it will go out in the 1.6 reelase.

[2020-12-14 12:26] bwship commented on #91
@smacdav - is the ask on this to see the context body?

[2020-12-14 15:02] bwship commented on #89
@ssanri  - this is fixed and will go out in the next release

[2020-12-14 15:44] bwship opened #99 "Ability to view volume data in Docker"
view volume data in the side navigation treeview

[2020-12-14 15:45] bwship opened #100 "Ability to add api key to LocalStack"
in the LocalstackAddEmbedded, allow the user to enter the pro key

[2020-12-14 15:46] smacdav commented on #91
Yes, let's go with that. That would definitely give me what I need.

[2020-12-14 16:09] smacdav commented on #91
To clarify. A Lambda function could return just a String (or really any other object). In that case, I would like to be able to see the value returned.

Here's an example of a Java handler that returns a simple String:

[code]

I would like to be able to see the value of that string.

Does that clarify?

[2020-12-14 16:28] bwship commented on #39
You can now toggle between json or plain text.

<img width="722" alt="json" src="https://user-images.githubusercontent.com/1326114/102107263-8c9d3580-3dff-11eb-9b0d-27fd94909868.png">

[2020-12-14 16:29] bwship commented on #39
this will go out in version 1.6

[2020-12-15 12:40] bwship commented on #91
@smacdav - it looks like this one was just a bug.  We have a fix for it coming in the next release.  Should be out by end of week,

[2020-12-15 12:41] bwship commented on #90
@smacdav - are you envisioning seeing the actual logs spit out by the LocalStack container?  This is an interesting idea.  I have a branch I am trying to work through it with.

[2020-12-15 14:35] smacdav commented on #91
Thank you. I look forward to the release

[2020-12-15 14:38] smacdav commented on #90
That would be really awesome. Thanks for exploring this

[2020-12-15 17:13] fsproru commented on #90
I was thinking about it too actually, perhaps we can tail the logs of the
LocalStack container either on the LocalStack dashboard or on LocalStack
container page as a first step. This way we can have LocalStack logs in a
separate tab. Then can add the LocalStack logs to lambda invoke.

On Tue, Dec 15, 2020 at 6:38 AM smacdav <notifications@github.com> wrote:

[2020-12-16 23:26] fsproru opened #101 "Memory usage on large Dynamo tables"
to investigate what's going on, happens on a Windows machine. cc: @ssanri

[2020-12-16 23:31] fsproru opened #102 "Truncate long fields in the table view"
cc @ssanri

[2020-12-16 23:33] fsproru opened #103 "Pin horizontal scrollbar to top and bottom of the viewport"
cc @ssanri

[2020-12-16 23:34] fsproru opened #104 "Ability to reorder columns"
cc @ssanri

[2020-12-16 23:40] fsproru opened #105 "Select visible colimns"
cc @ssanri

[2020-12-16 23:41] fsproru opened #106 "Search by sort key"
cc @ssanri

[2020-12-16 23:42] fsproru opened #107 "Dynamo row full screen"
cc @ssanri

[2020-12-17 03:53] ssanri opened #108 "Customize DynamoDB port"
@fsproru I was testing something tonight and noticed we are no longer able to customize port that dynamodb uses. Maybe I am not remembering correctly but switching between localstack predefined ports to custom ports would be really helpful. Uses cases might be using different port in env variables of localstack because of 4566 ( edge port ) or old 4569 is being used or switching between dynamodb-l

[2020-12-17 05:02] ssanri commented on #103
Addition to this, I think best experience would be locking up top section, including column names ( header row ). if overflowing element would be just the data rows, that would be perfect!

[2020-12-17 14:16] bwship commented on #102
@ssanri - was goin got do this as where there is an Object in the column, then show some message there and have a show_hide toggle on the top of the page for it.

[2020-12-17 14:30] ssanri commented on #102
when we were looking at it with @fsproru it made more sense to stringify large json objects in columns and show certain amount in field with ellipsis to avoid huge row heights. Also attach to Format toggle so when formatting is disabled it will be like this. Is that makes sense?

[2020-12-17 17:45] bwship commented on #102
@ssanri - this is what I have going now.  if format data is on, it will hide objects and arrays, and truncate 20 characters with ellipsis.  Let me know what you think.

<img width="1282" alt="object1" src="https://user-images.githubusercontent.com/1326114/102523560-b48dd280-4065-11eb-8195-a790287e049a.png">

<img width="1283" alt="object2" src="https://user-images.githubusercontent.com/1326114/102

[2020-12-17 17:48] bwship commented on #102
@ssanri - Let me try it with the stringify, that might be pretty helpful

[2020-12-17 18:02] bwship commented on #102
@ssanri - yea I like this where it previews it

<img width="1299" alt="object3" src="https://user-images.githubusercontent.com/1326114/102525355-2535ee80-4068-11eb-9799-8c53d44f46db.png">

[2020-12-17 18:23] ssanri commented on #102
yes! so much better. Especially in your first screenshot json data was still not that big. if you think it is an array of 100 deeply nested object in one column, other columns in same row are set to vertical center, so it makes it difficult to find the center time to time if you have bunch of large json fields in different sizes. But loved this solution.

[2020-12-18 14:24] shawnemullen opened #109 "Persisting Data"
I set DATA_DIR in localstack environment variables, but none of my data is persisted between sessions.  I also set HOST_TMP_FOLDER.  What am I missing?

[2020-12-18 17:18] fsproru commented on #109
Hi @shawnemullen, are you using the latest version of Commandeer 1.5.2?

We had an issue with environment variables not passing to the LocalStack container that was fixed in 1.5.2.

[2020-12-18 17:25] fsproru commented on #108
@ssanri that actually an interesting topic of discussion.

Are you using both dynamodb-local (which is different from LocalStack) and LocalStack?

The way to specify a different port DynamoDB connects to in the current version is creating multiple local accounts in commandeer with different LocalStack urls.

[2020-12-18 17:35] ssanri commented on #108
Yes, I was actually doing a performance analysis on how localstack dynamodb and dynamodb-local handles big data but in account settings I couldn't see any place to change the dynamodb port.

[2020-12-18 18:44] fsproru commented on #108
Now that LocalStack uses a single port, we use LocalStack URL from LocalStack settings for local accounts for all services including DynamoDB. That said once we were implementing it, I had the same thought that we may still need the ability to customize the endpoint url per AWS service. And it looks like this is a usecase for it. For example, you tested dynamodb-local and localstack on the same ma

[2020-12-27 15:55] kapi-ai opened #110 "How to delete comandeer account"
Hi,
I made an account, but comandeer is not for me so now I want to delete it. How can I do that? I did not find a button in my account settings or something related to it in the docs.

[2020-12-27 16:59] fsproru commented on #110
Hi @kapi-ai, no worries, most of your account data is stored locally. You can just delete your data folder which you can access from the help menu in top right of Commandeer desktop app. As long as you deleted your data from you computer and deleted the app you should be all set.

Let us know if you have any issues. Also, we're constantly improving the app experience and would love to hear why Com

[2020-12-31 20:13] bwship opened #111 "Lambda dashboard only showing first 100 lambdas"
If my environment has more than 100 lambda's Commandeer isn't bringing them all back.

 http://share.rowellbelen.com/hrH7gp

[2021-01-01 02:22] bwship commented on #111
@bytekast - this one should be ready to go out next week with our version 1.6 release.  We have it coded out, but just need to do some testing.  It is an interesting one, because getting the extra data for each lambda is a bit tricky, but I think we have a good lazy load strategy on it.  I'll keep you posted on it though.

[2021-01-01 02:30] bwship commented on #90
@fsproru - I think doing it on the Docker Container page for localstack will be fine for now.  We might find it is easy to also plug it into the invoke page if the current accoutn is local pretty trivial at that point.   But streaming in all container output in the container page will be huge.

[2021-01-01 02:31] fsproru commented on #110
Closing it, @kapi-ai let us know if you run into any issues.

[2021-01-01 02:31] #110 closed

[2021-01-01 03:02] fsproru commented on #100
It's already possible with an environment variable.

[2021-01-01 03:02] #100 closed

[2021-01-01 13:33] bwship commented on #111
This is working. Tags and environment variable history are now lazy loaded when there are more then 50 lambdas.

[2021-01-16 15:18] bwship opened #112 "MySQL"
- allow for MySQL connections in Commandeer

[2021-01-16 15:19] bwship opened #113 "Redis"
- allow for Redis in Commandeer

[2021-01-16 15:20] bwship commented on #108
You can now adjust these in the LocalStack settings

[2021-01-16 15:20] #108 closed

[2021-01-16 15:21] bwship commented on #93
Released in version 1.6

[2021-01-16 15:21] #93 closed

[2021-01-16 15:21] bwship commented on #88
Released in version 1.6

[2021-01-16 15:21] #88 closed

[2021-01-16 15:21] bwship commented on #39
Released in version 1.6

[2021-01-16 15:21] #39 closed

[2021-01-16 15:22] bwship commented on #87
Released in version 1.6

[2021-01-16 15:22] #87 closed

[2021-01-16 15:22] bwship commented on #89
Released in version 1.6

[2021-01-16 15:22] #89 closed

[2021-01-16 15:22] bwship commented on #78
Released in version 1.6

[2021-01-16 15:22] #78 closed

[2021-01-16 15:22] bwship commented on #111
Released in version 1.6

[2021-01-16 15:22] #111 closed

[2021-01-16 15:22] bwship commented on #102
Released in version 1.6

[2021-01-16 15:22] #102 closed

[2021-01-16 15:23] bwship commented on #91
Released in version 1.6

[2021-01-16 15:23] #91 closed

[2021-01-16 19:51] fsproru commented on #108
@ssanri we just released the version 1.6 which has the ability to customize AWS endpoints from LocalStack settings. You can also do it from AWS settings too. Let us know if you run into any issues.

[2021-01-16 20:00] bwship commented on #109
Closing this as I believe it is solved.

[2021-01-16 20:00] #109 closed

[2021-01-16 20:07] bwship commented on #90
This is solved.  They now show up on the invoke page as well as the docker container detail.

[2021-01-16 20:08] #95 closed

[2021-01-16 20:08] #90 closed

[2021-01-16 23:50] bwship opened #114 "Start a local Postgres Docker Container"
- ability for a local account  to be connected to a local docker container

[2021-01-16 23:56] bwship opened #115 "AppSync Query Runner"
Ability to run GraphQL queries against AppSync

[2021-01-26 15:11] fsproru opened #117 "Serverless Runner shows no output when running"
cc: @PeteCion08534

[2021-01-26 15:38] nelsben commented on #117
Hello, I've been having the same problem over the past couple of days as well. I've tried using the serverless.yml files  provided in a couple of the sample projects, but the serverless runner appears to be hung. These serverless.yml files run fine form command line.

![image](https://user-images.githubusercontent.com/49027024/105866980-90a5a100-5fc2-11eb-9721-e9add3acbcf1.png)

[2021-01-26 16:12] nelsben opened #118 "Serverless Runner Not Providing Output/Hanging"
Serverless runner does not provide output when running, and the process appears to hang indeffinetly. I tested with both commandeer example serverless.yml files, and my own custom ones. The serverless.yml files are compilable when run from command line. I am on a windows 10 64 bit OS.

![image](https://user-images.githubusercontent.com/49027024/105871426-47a41b80-5fc7-11eb-9969-9a7c9a8c825a.png)

[2021-01-26 16:23] fsproru commented on #118
@nelsben thanks the info, we're working on a patch release to get it out quick.

[2021-01-27 13:17] nelsben commented on #118
@fsproru thanks. Any idea on an eta?

[2021-01-27 19:22] fsproru commented on #118
The fix is in testing, 1.6.3 should go out in the next day.

[2021-01-28 04:26] fsproru commented on #118
@nelsben 1.6.3 with the fix is released. Let us know if you run into any issues.

[2021-01-28 04:26] #118 closed

[2021-01-28 04:27] fsproru commented on #117
@nelsben @PeteCion08534, this is fixed in the release 1.6.3. Let us know if you run into anything on the new version.

[2021-01-28 04:27] #117 closed

[2021-01-28 10:21] nelsben opened #119 "Serverless Runner Failing After Update"
After the recent release, serverless runner becomes stuck while trying to Start already running LocalStack. Commandeer is creating and running the stock Commandeer containers.

![2021-01-28 05_08_36-Window](https://user-images.githubusercontent.com/49027024/106123918-84d3ef00-6128-11eb-8b1d-72adc883019c.png)

After restarting Commandeer and rerunning the serverless.yml file included with one of th

[2021-02-09 16:18] bwship commented on #43
@c1moore - I wanted to get your input on how you envision this working.  I am starting to frame it out a bit, and have some thoughts on it too.  But wanted to see what you were thinking.

[2021-02-09 16:41] bwship commented on #107
This is ready to go in the next release.  Dynamo records now go to their own page and have the data and the foreign relations if there are any.

[2021-02-09 16:42] bwship commented on #119
@fsproru - is this the one that was solved in the last release?

[2021-02-09 17:24] fsproru commented on #119
@nelsben, thanks for reporting it, starting the LocalStack and hanging may be something new, let us take a look.

For the second error, you'll need to cd into your Serverless directory where your serverless.yml is located and run yarn install or npm install to install the plugins.

Let us know if you run into any issues.

[2021-02-09 21:23] bwship opened #121 "Add html caching on the great-deals Lambda"
- to not expire the value every 5 minutes during 9-5 M-F EST, and every 4 hours any other time of the week
- should be in the great-deals handler on the response.  it is some html header value.

[2021-02-09 21:23] bwship opened #122 "Add Yahoo NPM to get the actual price for each stock."
- should be able to use this endpoint https://github.com/pilwon/node-yahoo-finance
- save the result to DynamoDB table Stock with a TTL of 5 minutes M-F 9AM - 5PM EST.  Every 4 hours otherwise.

[2021-02-09 21:23] bwship opened #123 "Create DynamoDB table to store hotstocks"

[2021-02-09 21:23] bwship opened #124 "Create CRON job CloudWatch Rule to scrape /r/Wallstreetbets"
- this npm might work https://www.npmjs.com/package/reddit-scraper
- add the records to Stock table

[2021-02-10 02:11] bwship commented on #119
@nelsben - so I think I have a good solution for this.  If you are connected to a local account and LocalStack is not running. We will popup a zero state like so.

![image](https://user-images.githubusercontent.com/1326114/107454615-5b996280-6b1b-11eb-80ba-236fce2eb7d7.png)

I think this simplifies the flow a little bit.

[2021-02-13 21:08] fsproru opened #125 "Docker connect issues on Ubuntu 20"
Looks like on Ubuntu 20, `systemctl` starts Docker differently and Commandeer isn't able to connect to the default location for docker socket at `/var/run/docker.sock`.

[2021-02-16 15:23] bwship opened #126 "Analyzing you AWS Resource Usage"
A step-by-step guide to show you your usage throughout the app.

- Event Breakdown
- System Breakdown
- Page Views
- Button Clicks

[2021-02-16 15:24] bwship opened #127 "What is API Gateway?"
Expand this document -
https://docs.getcommandeer.com/docs/AWS/api-gateway/

[2021-02-16 15:29] bwship opened #128 "Viewing your API Gateway Endpoints in LocalStack."

[2021-02-16 15:29] bwship opened #129 "Testing API Gateway calls with returned API Gateway Logs and CloudWatch Lambda Invocation Logs"

[2021-02-16 15:29] bwship opened #130 "Deploying AppSync Serverless to LocalStack"

[2021-02-16 15:29] bwship opened #131 "Testing your AppSync API with IAM Authentication"

[2021-02-16 15:29] bwship opened #132 "Testing your AppSync API with API Key Authorization"

[2021-02-16 15:29] bwship opened #133 "Testing your AppSync API with OIDC (OpenConnect) Authentication"

[2021-02-16 15:29] bwship opened #134 "Commandeer vs. Portainer"

[2021-02-16 15:29] bwship opened #135 "Commandeer vs. NoSQL Workbench vs DynamoDB Admin"

[2021-02-16 15:29] bwship opened #136 "Commandeer vs. Ansible CLI"

[2021-02-16 15:29] bwship opened #137 "Commandeer vs Serverless CLI"

[2021-02-16 15:52] bwship opened #138 "Viewing your Dynamo DB System Diagram"

[2021-02-16 15:52] bwship opened #139 "Viewing your Dynamo DB ER Diagram"

[2021-02-16 15:53] bwship opened #140 "Viewing your Indexes, Global Secondary Indexes, and inferred Columns, Foreign Key Relationships"

[2021-02-16 15:53] bwship opened #141 "Dynamo DB Searching - a.k.a. Querying and Scanning"

[2021-02-16 15:53] bwship opened #142 "Getting your Development Setup under Docker Compose - SQL Db, Redis, LocalStack, Node, Yarn, Etc. et. Et. al."

[2021-02-16 15:53] bwship opened #143 "Commandeer Container Breakdown - LocalStack, Ansible, Bash, etc., et al."

[2021-02-16 15:53] bwship opened #144 "Viewing Docker Container Logs"

[2021-02-16 15:53] bwship opened #145 "Run Docker Exec inside your Container"

[2021-02-16 15:53] bwship opened #146 "Viewing your Docker System Diagram"

[2021-02-16 15:53] bwship opened #147 "Inspecting your Docker Containers"

[2021-02-16 15:53] bwship opened #148 "Removing Stale Images"

[2021-02-16 15:53] bwship opened #149 "Viewing the CloudFormation Stack and Resources"

[2021-02-16 15:53] bwship opened #150 "Viewing the CloudFormation Template YAML Code"

[2021-02-16 15:53] bwship opened #151 "Removing old Docker Containers and Images"

[2021-02-16 16:07] bwship opened #152 "SQS System Diagrams"

[2021-02-16 16:07] bwship opened #153 "Scan for SQS Queues in all Regions"

[2021-02-16 16:07] bwship opened #154 "Testing SQS Messages with Lambda Invocation CloudWatch Logs"

[2021-02-16 16:07] bwship opened #155 "Connecting to your existing LocalStack Container"

[2021-02-16 16:07] bwship opened #156 "Deploy API Gateway to LocalStack with Serverless"

[2021-02-16 16:07] bwship opened #157 "Optimizing Serverless Deployments"

[2021-02-16 16:07] bwship opened #158 "Adding and viewing queued SQS Messages in LocalStack"

[2021-02-16 16:07] bwship opened #159 "Creating, updating, purging and deleting your SQS Queues"

[2021-02-16 16:08] bwship opened #160 "Viewing your Serverless Deployment Stats"

[2021-02-16 16:31] bwship opened #161 "What are EKS Container Clusters?"

[2021-02-16 16:31] bwship opened #162 "What are ECS Container Clusters?"

[2021-02-16 16:31] bwship opened #163 "What is EBS Storage Volumes?"

[2021-02-16 16:31] bwship opened #164 "What is ELB Load Balancers?"

[2021-02-18 06:52] fsproru commented on #125
Looks like the snap downloaded from the store is not able to connect to the Docker socket. The permission on it also doesn't allow to connect to the Docker service. Needs some more investigation.

[2021-03-10 01:30] ssnyder-sme opened #165 "Asked to Go Through First Launch Tour Everytime"
I'm asked to go through the first launch tour everytime I open the application. Whether I skip the tour, or click next and exhaust the list of items to explain, the next time I open the app, it presents the tour again.

I'm on a mackbook pro (OS 10.15.7)

<img width="1509" alt="Screen Shot 2021-03-09 at 5 27 37 PM" src="https://user-images.githubusercontent.com/69162122/110561599-d34bb480-80fc-11e

[2021-03-10 02:35] bwship commented on #165
@ssnyder-sme - That is strange.  I have seen that on dev builds before but never in the prod build.  If you click the top right ? help icon in the app, and then click the data path folder, it will open up finder. in there, if you go to the users folder and open settings.json you will see a variable called hasSeenOnboarding.  If you set that to true, it will not show up next time.  We will investig

[2021-03-10 03:48] bwship commented on #165
This doesn't solve it.  But there will now be a toggle for this on the settings tab also.

<img width="887" alt="onboarding-tour" src="https://user-images.githubusercontent.com/1326114/110573641-9b0e9b00-8129-11eb-949c-3d9a5db2fef1.png">

[2021-03-10 15:16] ssnyder-sme opened #167 "Endlessly Refreshing Data"
I can add one AWS account successfully and see all resources I expect (s3/api gateway/lambda), but adding a second one usually causes the app to refresh endlessly. I've deleted the app and the data folder and reinstalled, but still see this same behavior.
<img width="847" alt="Screen Shot 2021-03-09 at 5 42 41 PM" src="https://user-images.githubusercontent.com/69162122/110649967-f8790b00-816e-11eb

[2021-03-10 21:29] bwship commented on #167
So, I am adding in a more descriptive error in the toast, rather than Connection Failed.  You don't need to hit test connection.  I am still trying to track down if there are any issues in the actual component itself.  But now the actual error coming back from AWS will show up in the toast.

[2021-03-11 15:13] ssnyder-sme commented on #167
How do you push out updates to the application? Do I need to re-download the app from the web console or does it auto update?

[2021-03-24 01:14] ssnyder-sme commented on #167
Got the latest version 1.8.0 and when checking the s3 connection, it says "Cannot assign to read only property 'message' of object"
![Screen Shot 2021-03-23 at 6 13 34 PM](https://user-images.githubusercontent.com/69162122/112239315-80492580-8c03-11eb-97b9-37a6765003e5.png)

[2021-03-24 12:26] bwship commented on #167
It is auto updated.  So you should see a notification that it will install when you restart the app.  You can check which version you are on by pressing the top right help icon in the app.

[2021-03-24 12:26] bwship commented on #167
Is that error you are seeing when you press the Test Connection button in the account page?

[2021-03-24 14:24] ssnyder-sme commented on #167
Hmm, I wasn't seeing any notification when opening the app. I was only able to get the latest version by downloading it from the web account page. Maybe I missed it.

Yup, I see that error when I press the Test Connection button in the account page. I was sorta thinking it might have been due to some limitations of the trial account, i.e. not being able to track enough resources, but I'm out of tr

[2021-03-24 14:35] ssnyder-sme commented on #167
Tried deleting the account and re-adding it. Upon re-adding I can test the s3 connection successfully, but i'm back at the endless refreshing state. I do see some additional resources than previously though....can see dynamo tables but still no lambdas

[2021-03-24 15:02] bwship commented on #167
Are you certain that your keys have access to Lambda?  Did you press the refresh button that is directly on the Lambda page as well?

[2021-03-24 15:25] ssnyder-sme commented on #167
100% certain, I use these credentials daily. Can list/invoke functions right now from the console and cli.

Tried a refresh button at the very top, and right clicking on Lambda in the navigation and refreshing there too. But right, it's just stuck endlessly refreshing:
![Uploading Screen Shot 2021-03-24 at 8.25.37 AM.png…]()

[2021-03-24 15:33] bwship commented on #167
In the side navigation, go to Commandeer -> System Logs and let's see if there are any hints there.  Once on that page, you can do a cmd + R to refresh the app, then lets see if there are any error logs there.  The actual refresh of all system data happens in a multi-process node call.  So if one of the refreshes fails they all should not, but it seems like something in there might be hosing it.

[2021-03-24 17:22] ssnyder-sme commented on #167
Oh man, bunch of errors....can't seem to find node or sls. I'm using zsh and looks like it might be using sh?
![Screen Shot 2021-03-24 at 10 21 17 AM](https://user-images.githubusercontent.com/69162122/112355222-af56aa00-8c8a-11eb-9471-8edfe286aa34.png)

[2021-03-24 19:06] bwship commented on #167
Hmm, those should not be related to the refresh though.  In the top right help menu, click on the data path link top opne up the finder window, and then delete the /services-cache folder, and in the app hit the refresh button one more time, to see if maybe this is an issue with the local cache.

[2021-04-01 00:44] jaridmargolin commented on #43
Without assume role, are there any recommended approaches to working with commandeer in a multi account org? I guess I would just need to create IAM users in each account?

[2021-04-01 13:06] bwship commented on #43
@jaridmargolin - Yea, what you can do is inside Commandeer, you can create multiple accounts, and each of those can have different keys that you are using.  Then you can switch between accounts easily, and if each account has a different default region selected, it remembers that as well when switching.

[2021-04-02 00:59] ssnyder-sme commented on #167
Deleted local cache. Tried again and it still endless refreshes. Nothing obvious in the system logs. This is pretty much blocking for me to use the app.

[2021-04-10 23:35] bwship commented on #167
This should finally be fixed in 1.8.1.  Sorry for the delay, we had a heck of a time tracking down this issue.

[2021-04-10 23:35] #167 closed

[2021-04-13 15:36] ssnyder-sme opened #169 "Toggling "Connected to Lambda" on DynamoDB System Diagram Displays Error"
When toggling the "Connected to Lambda" switch on the DynamoDB System Diagram displays an error about trying upper case an undefined variable.
![Screen Shot 2021-04-13 at 8 35 15 AM](https://user-images.githubusercontent.com/69162122/114580056-62377980-9c33-11eb-8f62-1add99ae1047.png)

[2021-04-21 14:54] #165 closed

[2021-04-21 14:57] #99 closed

[2021-04-21 14:57] #115 closed

[2021-04-23 00:39] ssnyder-sme opened #174 "Dynamodb Stream Disabled but shows Enabled in Commandeer and Warns Me About it"
I was alerted that some Dynamodb tables had streams enabled, but no stream defined, which was fantastic. But, i took steps to remediate that situation to remove the streams. I did that work a few days ago, but Commandeer still tells me that streams are enabled without a connected Lambda. Clicked refresh on the accounts but no change.

![Screen Shot 2021-04-22 at 5 37 44 PM](https://user-images.git

[2021-04-23 00:42] ssnyder-sme opened #175 "Unable to refresh Dynamodb System Diagram"
When clicking on the refresh button on the System Diagram tool, I get an error that "error_retrievingCannot read property 'toUpperCase' of undefined"

I was however able to right click on Dynamodb in the left hand nav, click refresh tables so I have connectivity but that refresh button within the System Diagram tool seems to have some issues.

![Screen Shot 2021-04-22 at 5 40 10 PM](https://user-i

[2021-04-23 00:43] ssnyder-sme commented on #174
Hmm, maybe just caching. Did a right click on the left hand nav Dynamodb element and refreshed tables, and was able to see the current state of the tables' streams reflected. So, was able to finally see this change reflected in Commandeer, but took a few refreshes...

[2021-04-23 14:15] bwship commented on #175
@ssnyder-sme - the issue was with how it was parsing the cloudwatch alarms.  We have a fix for this, and it will go out in the next release.

[2021-04-23 16:39] ssnyder-sme commented on #175
Thank you!

[2021-04-24 14:40] #175 closed

[2021-04-24 14:41] bwship commented on #169
this is the same issue as the refresh button.  Going to close this for now as it will go out with version 1.9.

[2021-04-24 14:41] #169 closed

[2021-04-24 14:42] bwship commented on #174
@ssnyder-sme - I added an extra check in the code.  That if we see that a DynamoDB Stream is not enabled, then we do a hard refresh of the cache on the dynamodb tables to first validate if it is still disconnected.  This will go out in version 1.9 as well.

[2021-04-24 14:42] #174 closed

[2021-04-26 00:17] ssnyder-sme commented on #169
Thanks!

[2021-04-26 00:17] ssnyder-sme commented on #174
Thank you!

[2021-04-28 21:08] ssnyder-sme opened #176 "Not able to see ECS clusters in different regions"
When switching regions, I'm unable to see different clusters in different regions. Tried hitting the bit refresh button in the top left, but they don't show up. Tried hitting refresh in the ecs dashboard and got the attached screenshot error: "TypeError: Cannot assign to read only property 'message' of object". Right clicked refresh clusters on the ECS nav item, but it's unable to find the cluster

[2021-04-30 12:54] bwship commented on #176
@ssnyder-sme - we didn't release 1.9 yet.  But we will investigate this.  You are seeing the clusters in one region, but not another?  Is that correct.

[2021-04-30 14:22] ssnyder-sme commented on #176
Ah, i see, maybe that release will resolve it.

For account 1 in us-east-1, I can see the ecs clusters. But for account 2, i have to switch to us-east-2 and then can't see clusters I expect to be there (that i can describe via cli using same creds). Seems like switch regions and hitting refresh isn't updating the cluster list. not that important because there isn't much you can do to the cluster i

[2021-05-03 16:19] jewelsjacobs commented on #58
Unfortunately not being able to use ~/.aws/credentials, ~/.aws/config is a show stopper for me 😞

[2021-05-03 16:25] bwship commented on #58
@ebarault - great point about the Upload.  It is not uploading it, it is simply storing it in the Commandeer data folder on your computer.  We will change the wording there so that this is not confusing.  We are going to do an integration with the credentials and config file.  This is a great point, and I think an easy win to pull off.

[2021-05-03 16:27] bwship commented on #58
@jewelsjacobs -Yea, for now you could simply copy and paste the credentials from the credentials file into Commandeer.  These creds never hit our servers.  They are only used to connect to your AWS instance via the SDK under the hood of the app.  That said, we are going to prioritize pulling in these creds from the ~/.aws files to make it a little more seamless for the users.  Thank you for the in

[2021-05-03 16:28] bwship commented on #58
@jewelsjacobs - Also, as per your comment about the role based.  Does taht mean your .aws/credentials file updates with new rotating keys often for the same account?

[2021-05-04 02:47] bwship commented on #58
@ebarault and @jewelsjacobs - Below is a screenshot of what I am working on in terms of allowing you to either enter keys manually, uploading a credentials.csv file, or selecting from a profile in your .aws/credentials file.  Let me know what you think if you get a chance.

<img width="683" alt="add-account2" src="https://user-images.githubusercontent.com/1326114/116955645-1fc8f180-ac61-11eb-82a7-

[2021-05-10 19:14] bwship commented on #58
@ebarault and @jewelsjacobs - Great news!  We are rolling this feature out tomorrow in version 1.9.1.  You can read all about it on our release page.   https://docs.getcommandeer.com/releases/latest/version-1.9.1-may-11-2021/ - Going to close out this issue.  Let me know how it works for you.

[2021-05-10 19:14] #58 closed

[2021-07-23 05:56] MeRahulAhire opened #195 "How to setup batchSize and batchWindow with this Serverless Dynamo Stream Plugin"
I came across this plugin and want to know that how can I manually setup `batchSize` and `batchWindow` with this plugin.

I tried the following
[code]
and shows me this one
[code]
and

[2021-07-27 07:33] HendrikScheve0311 commented on #125
Hello @fsproru, I am also (still) facing this issue on Ubuntu 20.04.2 LTS. Is there any work around until this is fixed? I really would like to try it out.

[2021-08-15 01:27] bwship commented on #195
Looking into this now.  Will let you know what we find.

[2021-08-15 21:39] albert-pla opened #197 "Not able to preview json file"
All of a sudden, a simple json file cannot be previewed. The download icon remains forever looping.

[2021-08-15 22:24] #197 closed

[2021-08-15 22:25] albert-pla commented on #197
Solved: bucket key from AWS S3 client (Java) was wrong. Thanks!

[2021-08-19 11:30] danw-mpl opened #198 "Is specifying a Docker network supported?"
Hello,

We're using Docker Compose to launch Localstack and another container which runs a CloudFormation template against it on launch.  To do this, both containers need to be on the same network to resolve the localstack hostname.

I can't find an option in Commandeer to specify the Docker network that Localstack is using.  Is this available?  If not, is possible to request this as a feature?

A

[2021-08-19 12:48] bwship commented on #198
@danw-mpl - Would you specify that in your docker-compose?  There is not currently an explicit way to specify it in the Commandeer UI, but I am happy to add that.  How exactly would it work?

[2021-08-19 13:19] danw-mpl commented on #198
Hello, thanks for replying.

Straight forward enough.  Using the standard Docker Compose way of creating named networks.  Example:

[code]

In terms of getting the network(s) the container is attached to, there are a couple ways:

Possibly an option although the network 'ID' is present in the array and the user won't know what it is without using the Docker CLI.
[code]

An option to get the first

[2021-08-19 14:51] bwship commented on #105
@ssanri - this is getting released today in version 2.1.6

[2021-09-01 21:03] wkhatch opened #199 "Scrolling is broken all over the place"
In several areas of the stand alone application, scrolling is not working. Serverless Runner Terminal cannot scroll to see the last bits of an error stack trace, or any other output. Localstack dashboard scrolls as far as CloudTrail. Just two examples; there's a lot more.

[2021-09-02 14:25] bwship commented on #199
@wkhatch - we are diving into this now.  Should have a build out with fixes for it in next couple days.

[2021-09-02 20:42] bwship commented on #199
@wkhatch - version 2.2.1 has been pushed out that should fix the issue on LocalStack and Serverless Runner.

[2021-09-13 08:23] danw-mpl commented on #198
Found a workaround for my use case.

To get both DNS name resolution working between containers and have Localstack available from the host (for Commandeer), I added two networks to docker-compose.yml.

[code]

[2021-09-17 02:46] AxhelTataje commented on #195
Hello!

Is there any update about this issue?

[2021-09-30 07:07] parmouraly commented on #125
Same issue for me, on Ubuntu 20.04. The socket seems to be in the expected location and with the correct permissions but still hitting `EACCES` error. Will have to drop using `commandeer` for now :-/

[2021-09-30 15:53] #199 closed

[2021-09-30 15:53] bwship commented on #199
closing as these should be resolved

[2021-10-25 04:48] sfrooster opened #202 "Commandeer ignores LOCALSTACK_API_KEY for LS Pro (mostly)"
I can get this to work, occasionally, but there is no rhyme or reason to how I do so. I run my own container out of docker-compose. I've set this as an environment variable in the localstack setup for this account. I have specified this key/value in the .env which docker-compose uses. I have been setting this env variable on the command line when I invoke docker-compose.

Again, occasionally I do

[2021-10-31 07:48] sfrooster commented on #202
Are those fixes supposed to be available in 2.3.4, because they don't seem to be. I tried creating a new account by importing a running container (which starts just fine using docker-compose), two different ways - both started the container using docker-compose, one with a .env file and one with the env variables hard-coded into the docker-compose.yml. In neither case did commandeer pick-up the en

[2021-11-01 15:17] bwship commented on #202
In the account settings, for LocalStack, are you selecting the already
running container from the dropdown?

Cheers,
Bob Wall

(703) 919-3750

On Sun, Oct 31, 2021 at 3:48 AM Michael Haan ***@***.***>
wrote:

[2021-11-01 16:05] sfrooster commented on #202
I did, yes. Between localstack, serverless (and the plug-ins) and
Commandeer, I really don't know where the problem lies. On Saturday evening
I managed through various machinations to use commandeer, a locally running
kafka cluster (running in its own docker containers via compose), and a
version of
https://github.com/commandeer/open/tree/development/sample-apps/serverless-localstack
which I modif

[2021-11-01 16:13] bwship commented on #202
Yea, there does seem to be certain issues with LocalStack plus Serverless.
We had one team switch to using STS - https://serverless-stack.com/ which
means they basically only run stuff in the AWS ecosystem.  It basically
sets up a mocked web sockets environment for the Lambda's.  You can then
still use Commandeer with the access to AWS directly.

Cheers,
Bob Wall

(703) 919-3750

On Mon, Nov 1, 20

[2021-11-02 13:04] QAnders opened #203 "Use Lambda ClientContext in "invoke"?"
I can't find a way to specify `ClientContext` with the local invoke command for a Lambda. We are using `ClientContext` to pass various "headers" to some of our Lambdas and I'd like to do the same in testing them through Commandeer. Possible?

[2021-11-02 13:10] bwship commented on #203
@QAnders - Yea def possible.  We will add this in for the next release.  Hopefully we will get it out by end of this week.

[2021-11-02 13:28] bwship commented on #203
Haha, moving at the speed of Serverless!

[2021-11-02 13:33] QAnders commented on #203
We are just starting to look into Localstack and Commandeer as "development tools" as we are getting a more and more complex AWS environment and local testing is getting difficult with copy n' pasting event data between Lambdas and/or SQS events and such...
Was looking for a way to be able to handle it better and this farr Commandeer looks really awesome!

We just need to come to grips on how to "

[2021-11-02 13:42] bwship commented on #203
You can have multiple LocalStack instances running in Commandeer, with just different ports. Here is a doc about setting up multiple LocalStack accounts - https://docs.getcommandeer.com/docs/LocalStack/how-to-create-5-localstack-aws-environments-in-5-minutes-using-commandeer/

We have testers for DynamoDB Streams, SQS, API Gateway, and S3 too.  So you can do the invoke directly to Lambda or you ca

[2021-11-02 13:48] QAnders commented on #203
Nice! There's so many bells and whistles here so it'll take me some time sorting all out...

One issue I've noticed is that we've run Serverless for a long time so some of our older AWS service dependencies are not added in serverless.yml, e.g. SQS queues or S3 Buckets but they have been added manually in S3 and then only the trigger/event has been added in serverless.yml...

Trying to add the res

[2021-11-03 18:50] bwship commented on #203
@QAnders - just doing some final testing on this.  But we should have a release tomorrow with this.

<img width="1320" alt="context" src="https://user-images.githubusercontent.com/1326114/140173998-0aedb4fe-0633-4b61-974b-f455c61c0216.png">

[2021-11-03 18:55] QAnders commented on #203
Awesome! Looks perfect!

[2021-11-03 19:03] bwship opened #204 "Redshift Intro Page"

[2021-11-03 23:55] bwship opened #205 "Lambda Triggers"

[2021-11-03 23:56] bwship opened #206 "Lambda Invocation Logs"
Expand on the invocation logs document and update images

[2021-11-03 23:57] bwship opened #207 "Invoke Lambda"

[2021-11-03 23:57] bwship opened #208 "Lambda Execution Role"
Describe the Lambda Execution Role and how it is related to IAM.

[2021-11-04 00:10] bwship opened #209 "Update Images"
Create list of pages that should get updated images.

[2021-11-04 21:04] bwship commented on #203
@QAnders - this is out in the wild in version 2.3.5 - Let me know if you run into any issues.

[2021-11-04 21:04] #203 closed

[2021-12-27 17:52] basharat58 opened #216 "Failed to run Docker Compose. Error: (HTTP code 409) unexpected - cannot join network of a non running container"
I am running a docker-compose file, with the following:
[code]
Once this runs, although it says:
LocalStack started
Running Docker Compose

I get an error:
![image](https://user-images.githubusercontent.com/20691032/147495302-ec698c7a-698b-48fe-9b9f-b48e27201d1f.png)

In cmd, when I run **docker ps**
I get the following:
![image](https://user-images.githubusercontent.com/20691032/147495366-5fd5eec

[2022-01-03 22:56] goehringda1 opened #217 "Serverless Dashboard not detecting running Localstack instance"
I've set up a Localstack instance using the default options suggested by the Commandeer tool -
![image](https://user-images.githubusercontent.com/40297799/147988988-93bf1975-01be-411e-bae7-a6474cd6ca5a.png)

My default Commandeer account is also attached to the running docker container -
![image](https://user-images.githubusercontent.com/40297799/147989022-e4187d5c-daf1-49eb-bf17-1aad0ed29afe.png)

[2022-01-06 21:46] SultanOfDawn opened #218 "Open commander / don’t forget the real name sultan"

[2022-01-06 21:47] SultanOfDawn commented on #218
The Sultan of dawn run py time thanks @ 2022 .. welcome world humanity

[2022-01-08 14:03] SultanOfDawn commented on #218
[0000]()
[2022]()
[SultanBank]()
500,000.000 K

[2022-01-12 14:53] bwship opened #219 "Ability to deploy CloudFormation code via a runner."

[2022-02-11 09:10] AnakinPt commented on #43
Without this option, for me this app is totally useless. I can't create IAM users just for me to connect using an app.

[2022-02-18 18:25] bwship commented on #43
This is currently in progress.  We have the role selection in the top nav working, and the retrieving of the short lived keys.  Tying it all together now and it should be out in the next week or so.

<img width="1319" alt="assume-role-capability" src="https://user-images.githubusercontent.com/1326114/154740913-07fa6ba6-1f17-40f9-9632-aa4c3f162ded.png">

[2022-02-23 03:24] bwship commented on #43
@AnakinPt @jaridmargolin @c1moore - this feature is now live in version 2.5.0!

[2022-02-23 03:24] #43 closed

[2022-04-09 13:47] tomcatcher opened #228 "HelloWorld State Machine Runner won't show in full screen"
Hi,

I don't seem to find a way of viewing the HelloWorld State Machine Runner with all the details. Please see the screenshot attached.

Tom
![2022-04-09 (2)](https://user-images.githubusercontent.com/8667057/162576977-2a71f39a-4e18-4d6d-afa3-feb4c9d025d7.png)

[2022-04-09 16:09] bwship commented on #228
@tomcatcher - this looks like a bug on windows with the scrollbar.  We are planning a release early next week, and will get a fix in for this as well.

[2022-04-09 18:38] bwship commented on #228
@tomcatcher - We just released an update that has this fix in it in version 3.0.2.  If you close and reopen the app, you should have the newest version.  You can check the version by clicking the help icon in the top right of the home dashboard.

[2022-04-09 18:38] #228 closed

[2022-04-13 23:24] markhsa opened #229 "GUI Error on commandeer 1.9.5 on any "choose file" menu"
When I am using commandeer version 1.9.5 on Fedora linux, and I click “choose file” in an area, I get gibberish (font?) on the screen.
I have attached a screen shot.

Let me know if you have any thoughts on the cause or a method of fixing it.

I have tried to find a solution but do not see any.
<img width="1413" alt="Screen Shot 2022-04-13 at 5 19 22 PM" src="https://user-images.githubusercontent.

[2022-04-27 18:43] gpiotti opened #230 "Is it possible to disable localstack services?"
If I only spin up certain services in localstack I keep getting error notifications from commandeer because it doesn't find it. For example I didn't enable Glue
"Glue crawlers refres failed - null"

If I look on localstack container logs it says
localstack.utils.server.http2_server.HTTPErrorResponse: no provider exists for service glue

I tried letting blank urls in AWS Endpoints but it didn't wor

[2022-04-28 23:00] bwship commented on #230
You mean, suppressing the error messages in the top nav for services that you aren't running on LocalStack?  If so, yea, we can do that.  We have a fix for the null part of the error message, but I think we can do something else for the alerts so that it doesn't get so annoying everytime you select an account.

[2022-04-29 00:38] heowc opened #231 "Can not detect docker"
I'm not using docker-desktop because I'm on a mac. So I am using [colima](https://github.com/abiosoft/colima).

For this reason, docker cannot be detected, and the localstack created with docker cannot be detected either. Is there any way to solve this?

- OS: Mac M1
- OS Version: 12.3.1 (Monterey)
- Commandeer Version: 3.0.4

[2022-04-29 13:40] gpiotti commented on #230
yes, exactly that, or may be not even make the requests to localstack if the endpoints url are in None

[2022-04-29 18:27] #156 closed

[2022-04-29 18:27] #157 closed

[2022-04-29 18:27] #158 closed

[2022-04-29 18:27] #159 closed

[2022-04-29 18:27] #161 closed

[2022-04-29 18:27] #162 closed

[2022-04-29 18:27] #163 closed

[2022-04-29 18:27] #164 closed

[2022-04-29 18:27] #204 closed

[2022-04-29 18:27] #205 closed

[2022-04-29 18:27] #206 closed

[2022-04-29 18:27] #207 closed

[2022-04-29 18:27] #209 closed

[2022-04-29 18:28] #143 closed

[2022-04-29 18:28] #144 closed

[2022-04-29 18:28] #145 closed

[2022-04-29 18:28] #146 closed

[2022-04-29 18:28] #147 closed

[2022-04-29 18:28] #149 closed

[2022-04-29 18:28] #150 closed

[2022-04-29 18:28] #151 closed

[2022-04-29 18:28] #152 closed

[2022-04-29 18:28] #153 closed

[2022-04-29 18:28] #154 closed

[2022-04-29 18:28] #155 closed

[2022-04-29 18:28] #160 closed

[2022-04-29 18:28] #134 closed

[2022-04-29 18:28] #135 closed

[2022-04-29 18:28] #136 closed

[2022-04-29 18:28] #137 closed

[2022-04-29 18:28] #138 closed

[2022-04-29 18:28] #139 closed

[2022-04-29 18:28] #140 closed

[2022-04-29 18:28] #141 closed

[2022-04-29 18:28] #142 closed

[2022-04-29 18:29] #121 closed

[2022-04-29 18:29] #123 closed

[2022-04-29 18:29] #124 closed

[2022-04-29 18:29] #127 closed

[2022-04-29 18:29] #50 closed

[2022-04-29 18:30] #122 closed

[2022-04-29 18:30] bwship commented on #229
@[markhsa](https://github.com/markhsa) - please update to version 3.0.5.  You can download it from app.getcommandeer.com - If you are still having issues, let us know.

[2022-04-29 18:30] #229 closed

[2022-04-29 18:31] bwship commented on #230
[gpiotti](https://github.com/gpiotti) - verison 3.0.5 is coming out in the next hour.  These are now suppressed in that release.

[2022-04-29 18:32] bwship commented on #217
Is this still happening for you on version 3.0.4? [goehringda1](https://github.com/goehringda1)

[2022-04-29 18:33] #208 closed

[2022-04-29 18:33] #202 closed

[2022-04-29 18:34] #130 closed

[2022-04-29 18:34] #148 closed

[2022-04-29 18:34] bwship commented on #176
This has been resolved.

[2022-04-29 18:34] #176 closed

[2022-04-29 18:34] #133 closed

[2022-04-29 18:34] #132 closed

[2022-04-29 18:34] #131 closed

[2022-04-29 18:35] #128 closed

[2022-04-29 18:35] #129 closed

[2022-04-29 19:05] gpiotti commented on #230
thank you!

[2022-05-02 00:30] heowc commented on #231
I'm not sure if I did it right, but it doesn't seem to work properly. Even if I create an account, the sns and sqs I created with localstack are not visible. 🤔

I think it would be great if you could change the docker.lock path. Is there any way to change this?

[2022-05-02 00:59] heowc commented on #231
I solved this by creating a link file. Thank you.

[2022-05-02 00:59] #231 closed

[2022-05-02 12:04] bwship commented on #231
Oh great.  Yea we will investigate better support of colima as well.

[2022-05-11 06:31] liudonghua123 opened #234 "Could not connect localstack served in windows wsl."
I have started `localstack` on ubuntu 22.04 wsl2 on windows. And I verified the service.

[code]

But when I try to use `commandeer` to connect it. It seems `commandeer` does not discovery it.

![image](https://user-images.githubusercontent.com/2276718/167783445-198bdfba-bea6-415a-8823-2f75f7b19ed8.png)

[2022-06-23 14:46] AndreasHeAtCC opened #237 "Feature: SQS message read, make it copyable"
If I read a message from SQS I can not copy the resulting text (can only make a screenshot).

Can you please enable it to mark and copy the text?

I even can not resize the window and the whole thing becomes now useless:

![image](https://user-images.githubusercontent.com/95493131/175330376-c94852f1-a80e-4f14-aa16-f1b1630d7675.png)

[2022-06-23 22:06] bwship commented on #237
@AndreasHeAtCC - we actually have a couple cleanup items for SQS ready to roll out.  We can add that in and get a build cut shortly.  I'll let you know on here when it is out.

[2022-06-27 00:02] bwship commented on #237
@AndreasHeAtCC - this is live now in version 3.1.7

[2022-06-27 08:31] AndreasHeAtCC commented on #237
Hmm, still got the old version. How to upgrade? Still got 3.1.1

[2022-06-27 11:31] bwship commented on #237
Restarting the app should give you the newest version or you can download it at app.getcommandeer.com/download

[2022-06-29 13:18] nirber opened #240 "Cannot deploy serverless (lambda)"
Deploying a serverless yml file is stuck.

- MacOS 3.1.7
- Clean new installation

<img width="1680" alt="Screen Shot 2022-06-29 at 6 01 30" src="https://user-images.githubusercontent.com/275042/176445831-4f714961-74c2-4894-8e5d-37cc7699f43e.png">
<img width="1680" alt="Screen Shot 2022-06-29 at 6 01 43" src="https://user-images.githubusercontent.com/275042/176445845-07b4878b-6e09-4f1a-a3b0-9469aa

[2022-06-30 19:20] mortegac opened #241 "Truncate tables in DynamoDb not working"
Truncating table data in DynamoDb returns error:

[code]

[2022-08-16 11:34] e59 commented on #237
This still does not work on version 3.2.3. The messages appear and the button is there, but it does not copy anything.

Running on Windows 11 using docker localstack.

[2022-08-16 12:38] bwship commented on #237
The button is working for me on Mac.  I'll test it out on Windows tonight.  I'll reopen this ticket for now.

![sqs](https://user-images.githubusercontent.com/1326114/184881293-587848a2-87de-478d-ba73-18049d918fa3.png)